﻿.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#tablaBusquedaInteresado tbody tr:hover {
    background-color: #ffff99;
    color: black;
    cursor: pointer;
}

#tablaBusquedaEmpleado tbody tr:hover {
    background-color: #ffff99;
    color: black;
    cursor: pointer;
}

/* Collapse panels */

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

/* Para acordeones */
.panel-heading {
    cursor: pointer;
}

.accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
    content: "\e080";
}