﻿@{
    ViewBag.Title = "Consultar Interlocutor Comercial";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Consultar Interlocutor Comercial</h2>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("BusquedaInterlocutor", new CRM.Areas.Clientes.Models.BusquedaICModel())
        </div>
    </div>


    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inicio", new { @Area="Clientes" })'"><span class="glyphicon glyphicon-triangle-left"></span> Ir a Inicio </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>