﻿@model IEnumerable<CRM.Areas.Clientes.Models.InterlocutorComercialModel>

@{
    ViewBag.Title = "Resultados de Búsqueda";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}


<div class="container" id="shadow">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Resultados de Búsqueda</h2>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            @{var objBusqueda = ViewData["objBusqueda"] as CRM.Areas.Clientes.Models.BusquedaICModel;}
            @Html.Partial("BusquedaInterlocutor", objBusqueda)
        </div>
    </div>

    @{bool verTabla; }

    <div class="row">
        <div class="col-md-12">
            @if (ViewData["CantResultados"].ToString().Equals("-1"))
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @ViewData["MensajeResultado"]
                </div>
                verTabla = false;
            }
            else
            {
                if (ViewData["CantResultados"].ToString().Equals("0"))
                {
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="sr-only">Info:</span>
                        @ViewData["MensajeResultado"]
                    </div>
                    verTabla = false;
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        @ViewData["MensajeResultado"]
                    </div>
                    verTabla = true;
                }
            }

        </div>
    </div>

    @if (verTabla)
    {
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title">Resultados de búsqueda</h3>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Documento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumDocumento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Direccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Correo)
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>

                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Documento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumDocumento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correo)
                                        </td>
                                        <td>

                                            @if (item.Documento.Equals("DNI"))
                                            {
                                                switch (item.TipoRol)
                                                {
                                                    case 1:
                                                        {
                                                            <center>
                                                                <a data-toggle="tooltip" data-placement="bottom" title="Ver detalles de cliente" class="btn btn-primary" href="@Url.Action("DetalleCliente", "MantenerClienteNatural", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                                <a data-toggle="tooltip" data-placement="bottom" title="Editar cliente" class="btn btn-primary" href="@Url.Action("EditarCliente", "MantenerClienteNatural", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-pencil"></span></a>
                                                            </center>
                                                        }
                                                        break;
                                                    case 2:
                                                        {
                                                            <center>
                                                                <a data-toggle="tooltip" data-placement="bottom" title="Ver detalles de empleado" class="btn btn-primary" href="@Url.Action("DetalleEmpleado", "MantenerEmpleado", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                                <a data-toggle="tooltip" data-placement="bottom" title="Editar empleado" class="btn btn-primary" href="@Url.Action("EditarEmpleado", "MantenerEmpleado", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-pencil"></span></a>
                                                            </center>
                                                        }
                                                        break;
                                                    case 3:
                                                        {
                                                            <center>
                                                                <a data-toggle="tooltip" data-placement="bottom" title="Ver detalles de interesado" class="btn btn-primary" href="@Url.Action("DetalleInteresado", "MantenerInteresado", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                            </center>
                                                        }
                                                        break;
                                                }

                                            }
                                            else
                                            {
                                                if (item.TipoRol == 3)
                                                {
                                                    <center>
                                                        <a data-toggle="tooltip" data-placement="bottom" title="Ver detalles de interesado" class="btn btn-primary" href="@Url.Action("DetalleInteresado", "MantenerInteresado", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                    </center>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <a data-toggle="tooltip" data-placement="bottom" title="Ver detalles de empresa" class="btn btn-primary" href="@Url.Action("DetalleEmpresa", "MantenerEmpresa", new { @Area="Clientes", id = item.ID })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                        <a data-toggle="tooltip" data-placement="bottom" title="Editar empresa" class="btn btn-primary" href="@Url.Action("EditarEmpresa", "MantenerEmpresa", new { @Area = "Clientes", id = item.ID })"><span class="glyphicon glyphicon-pencil"></span></a>
                                                    </center>

                                                }

                                            }
                                        </td>
                                    </tr>
                                            i++;
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "ConsultarInterlocutor", new { @Area ="Clientes" })'"><span class="glyphicon glyphicon-triangle-left"></span> Nueva Búsqueda </button>
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>
