﻿@model CRM.Models.Login

@{
    ViewBag.Title = "Login";
}
@*<h2>Login</h2>*@

@*<head>
        <script>
            function val(e) {
                tecla = (document.all) ? e.keyCode : e.which;
                if (tecla == 8) return true;
                patron = /[A-Za-z]/;
                te = String.fromCharCode(tecla);
                return patron.test(te);
            }
        </script>
    </head>*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRM</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
</head>
<br/>
<br />
<br />
<br />
<br />

<div class="container" id="shadow">
    <div class="container-fluid">
        <div class="container">
                <figure class="fisi-logo-container pull-left">
                    <img class="fisi-logo img-responsive" src="@Url.Content("~/Content/logo_fisi_unmsm.png")" alt="Logotipo de la FISI">
                </figure>
            <h2 class="text-center text-info"><strong>Inicio de Sesion</strong></h2>
        </div>
    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="panel-group" id="accordion">
                <!-- Collapse Datos Personales -->
                <div class="panel panel-info">
                    <div class="panel-heading" >
                        <h4 class="panel-title accordion-toggle">Ingrese Datos Correctos</h4>
                    </div>
                    <div id="collapseDatos" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">

                                @*<fieldset>
                                    <legend>Login</legend>*@
                                
                                    <div class="row">
                                        <h4 class="text-center text-info">
                                            @Html.LabelFor(model => model.Username, new { @class = "col-md-4 control-label" })
                                        </h4>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Nombre de usuario", title = "Ingrese nombre de usuario", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                        </div>
                                        <div class="col-md-5 text-danger">
                                            <strong>@Html.ValidationMessageFor(model => model.Username)</strong>
                                        </div>
                                    </div>                                    
                                    <br />

                                    <div class="row">
                                        <h4 class="text-center text-info">
                                            @Html.LabelFor(model => model.Password, new { @class = "col-md-4 control-label" })
                                        </h4>
                                        <div class="col-md-3">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Contraseña", title = "Ingrese contraseña de usuario", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                        </div>
                                        <div class="col-md-5 text-danger">
                                            <strong>@Html.ValidationMessageFor(model => model.Password)</strong>
                                        </div>    
                                    </div>
                                    <br />

                                    <div class="row">
                                        <h4 class="text-center text-info">
                                            @Html.LabelFor(model => model.RememberMe, new { @class = "col-md-4 control-label" })
                                        </h4>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.RememberMe, new { @class = "form-control", placeholder = "Contraseña", title = "Ingrese contraseña de usuario", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                        </div>
                                        <div class="col-md-5 text-danger">
                                            <strong>@Html.ValidationMessageFor(model => model.RememberMe)</strong>
                                        </div>
                                    </div>
                                    <br />
                            </div>
                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="Iniciar Sesion" />
                                </p>
                            </h2>
                                <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        }

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
</div>