﻿@{
    ViewBag.Title = "Principal Servicios";
    Layout = "~/Areas/Servicios/Views/MasterServicios.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Servicios</h2>
        </div>
    </div>
</div>