﻿<div class="container">
    <div class="modal fade" id="busquedaRapidaInteresado" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    @{
                        string funcion;
                        if (ViewData["TipoPersona"].ToString().Equals("Natural"))
                        {
                            funcion = "busquedaRapidaInteresado('Natural')";
                            <h4 class="modal-title"><strong>Búsqueda Rápida de Clientes Interesados</strong></h4>
                        }
                        else
                        {
                            funcion = "busquedaRapidaInteresado('Empresa')";
                            <h4 class="modal-title"><strong>Búsqueda Rápida de Empresas Interesadas</strong></h4>
                        }
                    }
                </div>

                <div class="modal-body">
                    <div class="container fluid col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Palabra a buscar: </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="txtBusquedaRapidaInteresado" autofocus>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" id="btnBusquedaRapidaInteresado" onclick="@funcion"><span class="glyphicon glyphicon-search"></span> Buscar </button>
                            </div>
                        </div>
                        <br />

                        <div class="row" id="mensajeBusquedaInteresado">
                        </div>

                        <div class="row">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-condensed table-striped" id="tablaBusquedaInteresado">
                                        <thead>
                                            @{
                                                if (ViewData["TipoPersona"].ToString().Equals("Natural"))
                                                {
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre</th>
                                                        <th>DNI</th>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Razón Social</th>
                                                        <th>RUC</th>
                                                    </tr>
                                                }
                                            }
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clickFilaTablaInteresado(id, tipo) {
        var url = "@Url.Action("EditarInteresado", "MantenerInteresado", new { id = "param-id", tipo = "param-tipo" })";
        url = url.replace("param-id", id).replace("param-tipo", tipo);
        window.location.href = url;
    }
</script>