﻿<div class="container">
    <div class="modal fade" id="busquedaRapidaEmpleado" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title"><strong>Búsqueda Rápida de Empleados</strong></h4>
                </div>

                <div class="modal-body">
                    <div class="container fluid col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Palabra a buscar: </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="txtBusquedaRapidaEmpleado" autofocus>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" id="btnBusquedaRapidaEmpleado" onclick="busquedaRapidaEmpleado()"><span class="glyphicon glyphicon-search"></span> Buscar </button>
                            </div>
                        </div>
                        <br />

                        <div class="row" id="mensajeBusquedaEmpleado">
                        </div>

                        <div class="row">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-condensed table-striped" id="tablaBusquedaEmpleado">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>DNI</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clickFilaTablaEmpleado(id) {
        var url = "@Url.Action("CambiarRolEmpleado", "MantenerClienteNatural", new { id = "param-id" })";
        url = url.replace("param-id", id);
        window.location.href = url;
    }
</script>