﻿@model CRM.Areas.Clientes.Models.BusquedaICModel

@using (Html.BeginForm("ResultadoBusqueda", "ConsultarInterlocutor", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-info" id="divResultados">
        <div class="panel-heading" data-toggle="collapse" data-parent="#divResultados" data-target="#resultadosCollapse">
            <h3 class="panel-title accordion-toggle">Datos de Búsqueda</h3>
        </div>

        <div id="resultadosCollapse" class="panel-collapse collapse in">
            <br />
            <div class="panel-body">
                <div class="form-group">
                    <!-- Tipo de persona -->
                    <div class="row">
                        @Html.Label("Tipo de persona:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.TipoPersona, Model.ListaComboTipoPersona, "-- Seleccione Tipo de Persona --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.TipoPersona)</strong>
                        </div>
                    </div>
                    <br />

                    <!--Tipo de Rol-->
                    <div class="row">
                        @Html.Label("Tipo de Rol:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.TipoRol, Model.ListaComboTipoRol, "-- Seleccione Tipo de Rol --", new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.TipoRol)</strong>
                        </div>
                    </div>
                    <br />

                    <!--Tipo de Rol es Empleado-->
                    <div class="row" id="divRolEmpleado" style="display: none;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.TiendaEmpleado, Model.ListaComboTiendaEmpleado, "-- Seleccione Tienda de Empleado --", new { @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.TipoEmpleado, Model.ListaComboTipoEmpleado, "-- Seleccione Tipo de Empleado --", new { @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AreaEmpleado, Model.ListaComboAreaEmpleado, "-- Seleccione Área de Empleado --", new { @class = "form-control" })
                        </div>
                    </div>
                    <br />

                    <!--Canal de Registro-->
                    <div class="row">
                        @Html.Label("Canal de Registro:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CanalRegistro, Model.ListaComboCanalRegistro, "-- Seleccione Canal de Registro --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.CanalRegistro)</strong>
                        </div>
                    </div>
                    <br />
                    <br />

                    <!--Texto de búsqueda-->
                    <div class="row">
                        <div class="col-md-3 text-center">
                            @Html.Label("Contenido a buscar:", new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.PalabraClave, new { @class = "form-control", placeholder = "Ingrese aquí palabra clave a buscar..." })
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Buscar </button>
                        </div>
                    </div>

                </div>
                <br />

            </div>
        </div>


    </div>
}
@*
    <script type="text/javascript">
        document.getElementById('PalabraClave').focus();
    </script>
*@