﻿
<style>
    #tablaBusquedaEmpresa tbody tr:hover {
        background-color: #ffff99;
        color: black;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="modal fade" id="busquedaRapidaEmpresa" role="dialog">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title"><strong>Búsqueda Rápida de Empresas</strong></h4>
                </div>

                <div class="modal-body">
                    <div class="container fluid col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Palabra a buscar: </label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="txtBusquedaRapidaEmpresa" autofocus>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" id="btnBusquedaRapidaEmpresa" onclick="busquedaRapidaEmpresa()"><span class="glyphicon glyphicon-search"></span> Buscar </button>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-5">
                                <button type="button" class="btn btn-success btn-sm" onclick="crearPopup('@Url.Action("PopupCrearEmpresa", "MantenerEmpresa", new {@Area="Clientes" })','Nueva Empresa - Módulo Clientes',screen.width - 100,screen.height - 200)"><span class="glyphicon glyphicon-plus"></span> Agregar Nueva Empresa</button>
                            </div>
                        </div>
                        <br />

                        <div class="row" id="mensajeBusquedaEmpresa">
                        </div>

                        <div class="row">
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-condensed table-striped" id="tablaBusquedaEmpresa">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Razon Social</th>
                                                <th>RUC</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //### INICIO BUSQUEDA RAPIDA DE EMPRESAS ###
    function busquedaRapidaEmpresa() {
        $('#tablaBusquedaEmpresa tbody').remove();
        $('#mensajeBusquedaEmpresa').html('');
        var palabraclave = $('#txtBusquedaRapidaEmpresa').val();
        if (palabraclave.length == 0) {
            $('#mensajeBusquedaEmpresa').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Debe ingresar una palabra a buscar.</div>');
        } else {
            $.ajax({
                cache: false,
                type: 'GET',
                datatype: 'json',
                contentType: 'application/json',
                url: '/MantenerClienteNatural/BuscarEmpresas',
                data: { "clave": palabraclave },
                success: function (data) {
                    if (data.length == 0) {
                        $('#mensajeBusquedaEmpresa').html('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> No se encontraron empresas con la palabra clave "' + palabraclave + '"</div>');
                    } else {
                        var func = "";
                        var fila = "";
                        var nombreCompleto = "";
                        for (var i = 0; i < data.length; i++) {
                            nombreCompleto = '"' + data[i].Nombre + '"';
                            func = "'clickFilaTablaEmpresa(" + data[i].ID + ", " + nombreCompleto + ")'";
                            fila = '<tr onclick=' + func + '><td>' + data[i].ID + '</td><td>' + data[i].Nombre + '</td><td>' + data[i].NumDocumento + '</td></tr>';
                            $('#tablaBusquedaEmpresa').append(fila);
                        }
                        $('#mensajeBusquedaEmpresa').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Success:</span> Se encontraron ' + data.length + ' resultado(s) :</div>');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#mensajeBusquedaEmpresa').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Error al cargar información de EMPRESAS.</div>');
                }
            });
        }
    }

    //Agregar evento enter a caja de texto de busqueda rapida empresas
    $("#txtBusquedaRapidaEmpresa").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnBusquedaRapidaEmpresa").click();
        }
    });
    //### FIN BUSQUEDA RAPIDA DE EMPRESAS ###

    function crearPopup(url, titulo, w, h) {
        var left = (screen.width - w) / 2;
        var top = (screen.height - h) / 4;
        popup = window.open(url, titulo, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        popup.focus();
    }

    function clickFilaTablaEmpresa(id, n) {    //id=ID del cliente seleccionado, n= nombre completo del cliente seleccionado
        $('#idguardado').val(id);   //Guardar ID en un input hidden.
        $('#txtNombreRelacion').val(n); //Imprimir nombre completo
        $('#busquedaRapidaEmpresa').modal('hide'); //Cerrar modal
    }
</script>