﻿@{
    ViewBag.Title = "Crear";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">@ViewData["TituloCrearPost"]</h2>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @if (ViewData["CodError"].Equals("0"))
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    @Html.Raw(ViewData["MensajeCrearPost"])
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Html.Raw(ViewData["MensajeCrearPost"])
                </div>
            }
            <div class="col-md-1"></div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3"></div>
        @switch (@ViewData["TipoInterlocutor"].ToString())
        {
            case "Cliente":
                {
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CrearCliente", "MantenerClienteNatural", new { @Area = "Clientes" })'"><span class="glyphicon glyphicon-plus"></span> Registrar Otro Cliente </button>
                    </div>
                }
                break;
            case "Empleado":
                {
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CrearEmpleado", "MantenerEmpleado", new { @Area = "Clientes" })'"><span class="glyphicon glyphicon-plus"></span> Registrar Otro Empleado </button>
                    </div>
                }
                break;
            case "Empresa":
                {
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CrearEmpresa", "MantenerEmpresa", new { @Area = "Clientes" })'"><span class="glyphicon glyphicon-plus"></span> Registrar Otra Empresa </button>
                    </div>
                }
                break;
            default:
                break;
        }
        <div class="col-md-3">
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inicio", new { @Area = "Clientes"})'"><span class="glyphicon glyphicon-triangle-left"></span> Ir a Inicio </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
</div>