﻿@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">@ViewData["TituloEditarPost"]</h2>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @if (ViewData["CodError"].Equals("0"))
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    @Html.Raw(ViewData["MensajeEditarPost"])
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Html.Raw(ViewData["MensajeEditarPost"])
                </div>
            }
            <div class="col-md-1"></div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <center>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inicio", new { @Area = "Clientes"})'"><span class="glyphicon glyphicon-home"></span> Ir a Inicio </button>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "ConsultarInterlocutor", new { @Area ="Clientes" })'"><span class="glyphicon glyphicon-triangle-left"></span> Nueva Consulta </button>
            </center>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
</div>