﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <div class="col-md-1"></div>
    <div class="row">
        <div class="col-md-10">
            <h2 class="text-left">@ViewData["tituloError"]</h2>
        </div>
    </div>
    <div class="col-md-1"></div>
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">:</span>
                @ViewData["msjError"]
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <center>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inicio", new { @Area = "Clientes" })'"><span class="glyphicon glyphicon-home"></span> Ir a Inicio </button>
            </center>
        </div>
        <div class="col-md-3">
            <center>
                <button type="button" class="btn btn-default" onclick="history.back()"><span class="glyphicon glyphicon-triangle-left"></span> Atrás </button>
            </center>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br />
</div>
