﻿@model CRM.Areas.Clientes.Models.InteresadoModel

<div class="container" id="shadow">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nuevo Interesado</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm("CrearInteresado", "MantenerInteresado", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary()*@
        
        @Html.HiddenFor(model => model.IdTienda)
        @Html.HiddenFor(model => model.IsPopup, new { })

        <!--Panel datos del interesado-->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del Interesado</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">

                    <!--Tipo de Persona-->
                    <div class="row">
                        @Html.LabelFor(model => model.TipoDePersona, new { @class = "col-sm-3 col-md-2 control-label" })
                        <div class="col-sm-5 col-md-4">
                            @Html.DropDownListFor(model => model.TipoDePersona, Model.ListaComboTipoPersona, "-- Seleccione Tipo de Persona --", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4 col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.TipoDePersona)</strong>
                        </div>
                    </div>
                    <br />

                    <!--Nombre/Razon Social-->
                    <div class="row" id="divNombreInteresado">
                        @Html.LabelFor(model => model.Nombre, new { @class = "col-sm-3 col-md-2 control-label", id = "lblNombreInteresado" })
                        <div class="col-sm-5 col-md-4">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", id = "txtNombreInteresado" })
                        </div>
                        <div class="col-sm-4 col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.Nombre)</strong>
                        </div>
                    </div>
                    <br />

                    <!-- DNI -->
                    <div class="row" id="divDNIInteresado">
                        @Html.LabelFor(model => model.DNI, new { @class = "col-sm-3 col-md-2 control-label" })
                        <div class="col-sm-5 col-md-4">
                            @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", placeholder = "DNI del interesado" })
                        </div>
                        <div class="col-sm-4 col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.DNI)</strong>
                        </div>
                    </div>
                    <br />

                    <!-- RUC -->
                    <div class="row" id="divRUCInteresado">
                        @Html.LabelFor(model => model.RUC, new { @class = "col-sm-3 col-md-2 control-label" })
                        <div class="col-sm-5 col-md-4">
                            @Html.TextBoxFor(model => model.RUC, new { @class = "form-control", placeholder = "RUC del interesado" })
                        </div>
                        <div class="col-sm-4 col-md-5 text-danger">
                            <strong>@Html.ValidationMessageFor(model => model.RUC)</strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Panel datos opcionales-->
        <div class="panel-group" id="divDatosOpcInteresado">
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#divDatosOpcInteresado" data-target="#opcionalesCollapse">
                    <h4 class="panel-title accordion-toggle">Datos Opcionales</h4>
                </div>
                <div id="opcionalesCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">

                            <!-- Telefono -->
                            <div class="row">
                                @Html.Label("Teléfono:", new { @class = "col-sm-3 col-md-2 control-label" })
                                <div class="col-sm-4 col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", placeholder = "Teléfono" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    @Html.DropDownListFor(model => model.IDTipoTelefono, Model.ListaComboTelefono, "-- Tipo Teléfono --", new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4 col-sm-offset-2 col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.IDTipoTelefono)</strong>
                                </div>
                                <div class="col-sm-4 col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Telefono)</strong>
                                </div>
                            </div>
                            <br />

                            <!-- Correo -->
                            <div class="row">
                                @Html.Label("Correo:", new { @class = "col-sm-3 col-md-2 control-label" })
                                <div class="col-sm-6 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", placeholder = "Correo" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Correo)</strong>
                                </div>
                            </div>
                            <br />

                            <!-- Direccion -->
                            <div class="row">
                                @Html.Label("Dirección:", new { @class = "col-sm-3 col-md-2 control-label" })
                                <div class="col-sm-6 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", placeholder = "Dirección", id = "txtDireccionInteresado" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row" id="divUbicacionInteresado">
                                <div class="col-sm-2 col-md-2">
                                </div>

                                <div class="col-sm-3 col-md-2">
                                    @Html.DropDownListFor(model => model.IDDepartamento, Model.ListaComboDepartamentos, new { @class = "form-control", id = "IDDepartamentoCombo", title = "Seleccione un Departamento", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>

                                <div class="col-sm-3 col-md-2">
                                    @Html.DropDownListFor(model => model.IDProvincia, Model.ListaComboProvincias, new { @class = "form-control", id = "IDProvinciaCombo", title = "Seleccione una Provincia", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>

                                <div class="col-sm-3 col-md-2">
                                    @Html.DropDownListFor(model => model.IDDistrito, Model.ListaComboDistritos, new { @class = "form-control", id = "IDDistritoCombo", title = "Seleccione un Distrito", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Direccion)</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.IDDepartamento)</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.IDProvincia)</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.IDDistrito)</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-danger">
                &nbsp;&nbsp; Los campos con asterisco (*) son obligatorios.
            </div>
        </div>
        <br />
        <br />
        <br />
        
        
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                </div>
                <div class="col-sm-3 col-md-3">
                    <center>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Guardar </button>
                    </center>
                </div>
                <div class="col-sm-3 col-md-3">
                    <center>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
                    </center>
                </div>
                <div class="col-sm-3 col-md-3">
                </div>
            </div>
        </div>
        <br />
    }
</div>
<br />

<script type="text/javascript">
    //---- Tipo Persona----
    $(function () {
        $("#TipoDePersona").change(function () {
            var valSeleccionado = $("#TipoDePersona").val();
            var textSeleccionado = $("#TipoDePersona option:selected").text();

            switch (textSeleccionado) {
                case "Empresa":
                    $("#txtNombreInteresado").prop("placeholder", "Razón Social del Interesado");
                    $("#lblNombreInteresado").text("Razón Social *");
                    $("#divNombreInteresado").show();
                    $("#divDatosOpcInteresado").show();
                    $("#divDNIInteresado").hide();
                    $("#divRUCInteresado").show();
                    break;
                case "Natural":
                    $("#txtNombreInteresado").prop("placeholder", "Nombre del Interesado");
                    $("#lblNombreInteresado").text("Nombre *");
                    $("#divNombreInteresado").show();
                    $("#divDatosOpcInteresado").show();
                    $("#divDNIInteresado").show();
                    $("#divRUCInteresado").hide();
                    break;
                default:
                    $("#divNombreInteresado").hide();
                    $("#divDatosOpcInteresado").hide();
                    $("#divDNIInteresado").hide();
                    $("#divRUCInteresado").hide();
            }
        });
    });



    //-----Ubicaciones-----
    $(function () {
        $("#IDDepartamentoCombo").change(function () {
            var selectedItem = $(this).val();
            var comboProvincias = $("#IDProvinciaCombo");
            $.ajax({
                cache: false,
                type: 'GET',
                datatype: 'json',
                contentType: 'application/json',
                url: '/MantenerClienteNatural/ObtenerProvicias',
                data: { "iddepartamento": selectedItem },
                success: function (data) {
                    comboProvincias.html('');
                    for (var i = 0; i < data.length; i++) {
                        comboProvincias.append($('<option></option>').val(data[i].ID).html(data[i].Nombre));
                    }
                    $('#IDProvinciaCombo').trigger('change');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error al cargar provincias.');
                }
            });
        });
    });

    $(function () {
        $("#IDProvinciaCombo").change(function () {
            var selectedItem = $(this).val();
            var comboDistrito = $("#IDDistritoCombo");
            $.ajax({
                cache: false,
                type: 'GET',
                datatype: 'json',
                contentType: 'application/json',
                url: '/MantenerClienteNatural/ObtenerDistritos',
                data: { "idprovincia": selectedItem },
                success: function (data) {
                    comboDistrito.html('');
                    for (var i = 0; i < data.length; i++) {
                        comboDistrito.append($('<option></option>').val(data[i].ID).html(data[i].Nombre));
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error al cargar distritos.');
                }
            });
        });
    });

    $("#txtDireccionInteresado").keyup(function () {
        if (!this.value) {
            $("#divUbicacionInteresado").hide();
        } else {
            $("#divUbicacionInteresado").show();
        }
    });

    $(document).ready(function () {
        $('#TipoDePersona').trigger('change');
        $('#IDDepartamentoCombo option[value=51]').attr('selected', 'selected'); //Seleccionar LIMA por default
        $('#IDDepartamentoCombo').trigger('change');
        $('#txtDireccionInteresado').trigger('keyup');
    });
</script>