﻿@model CRM.Areas.Clientes.Models.InteresadoModel

<div class="container" id="shadow">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nuevo Interesado</h2>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            @if (ViewData["CodError"].Equals("0"))
            {

                if (@Html.DisplayFor(model => model.TipoDocumento).ToString() == "DNI")
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        El cliente interesado <strong>@Html.DisplayFor(model => model.Nombre) </strong> con DNI N° <strong>@Html.DisplayFor(model => model.DNI)</strong> se ha registrado correctamente en el sistema.
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        La empresa interesada <strong>@Html.DisplayFor(model => model.Nombre) </strong> con RUC N° <strong>@Html.DisplayFor(model => model.RUC)</strong> se ha registrado correctamente en el sistema.
                    </div>
                }

            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    No se pudo guardar el nuevo interesado debido a un error interno.
                </div>
            }
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">
        <center>
            @{
                if (Model.IsPopup.ToString().Equals("1"))
                {
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("PopupCrearInteresado", "MantenerInteresado", new {@Area="Clientes" })'"><span class="glyphicon glyphicon-plus"></span> Registrar Otro Interesado </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CrearInteresado", "MantenerInteresado", new { @Area="Clientes"})'"><span class="glyphicon glyphicon-plus"></span> Registrar Otro Interesado </button>
                }
            }
        </center>
    </div>
    <br />

</div>