﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRM Clientes</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <style type="text/css">
        body {
            overflow: scroll;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .body-content {
            padding-left: 0px;
            padding-right: 0px;
        }

        #sombra {
            -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0, 0.48);
            -moz-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
            box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
        }

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading a.collapsed:after {
            content: "\e080";
        }

        #tablabusqueda a {
            text-decoration: none;
            color: inherit;
        }

        #tablabusqueda tr:hover {
            background-color: beige;
            color: white;
        }

        #tablabusqueda {
            border-spacing: 0;
            border-collapse: collapse;
            border: transparent;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Clientes/JSClientes.js")"></script>
</body>
</html>
