﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRM</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main">
        <!-- Inicio del menu izquierdo -->
        <input id="menu-checkbox" type="checkbox">
        <nav id="drawer" role="navigation">
            <ul class="menu">
                <li><a href="@Url.Action("Index", "Home", new { Area = "" })" class="biblioteca"><span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;Inicio</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Administrativo" })" class="fisi"><span class="glyphicon glyphicon-wrench"></span> &nbsp;&nbsp;Administrativo</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "CallCenter" })" class="sistemas"><span class="glyphicon glyphicon-earphone"></span> &nbsp;&nbsp;Call Center</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Clientes" })" class="software"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp;Clientes</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Marketing" })" class="posgrado"><span class="glyphicon glyphicon-bullhorn"></span> &nbsp;&nbsp;Marketing</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "PostVenta" })" class="investigacion"><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;&nbsp;Post-Venta</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Productos" })" class="biblioteca"><span class="glyphicon glyphicon-tags"></span> &nbsp;&nbsp;Productos</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Servicios" })" class="cenpro"><span class="glyphicon glyphicon-comment"></span> &nbsp;&nbsp;Servicios</a></li>
                <li><a href="@Url.Action("Index", "Inicio", new { Area = "Ventas" })" class="ceups"><span class="glyphicon glyphicon-usd"></span> &nbsp;&nbsp;Ventas</a></li>
            </ul>
        </nav>
        <!-- Fin del menu izquierdo -->
        <!-- Inicio menu superior -->
        <div class="pre-header">
            <div class="container">
                <label for="menu-checkbox" id="menu-btn">
                    <span id="three-lines"> CRM <i style="position: static" class="glyphicon glyphicon-chevron-right"></i></span>
                </label>
                <!-- Inicio dropdown usuario -->
                <div class="links-top">
                    <div class="dropdown" style="float: left;">
                        @{
                            if (Request.IsAuthenticated) {
                                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> Usuario: ADMIN <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
                                    <li><a href="@Url.Action("Login", "MyAccount")"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
                                </ul>
                            }
                        }
                    </div>
                </div>
                <!-- Fin dropdown usuario -->
                <!-- Inicio links-fisi -->
                <div class="links-fisi hidden-xs">
                    <span>
                        <a class="link-facebook" data-toggle="tooltip" data-placement="bottom" data-animation="true" href="#" data-original-title="Intranet FISI"><span class="glyphicon glyphicon-user"></span></a>
                    </span>
                    <span>
                        <a class="link-youtube" data-toggle="tooltip" data-placement="bottom" data-animation="true" href="#" data-original-title="Canal FISI"><span class="glyphicon glyphicon-play-circle"></span></a>
                    </span>
                    <span>
                        <a class="link-phone" data-toggle="tooltip" data-placement="bottom" data-animation="true" href="#" data-original-title="Directorio Telefónico FISI"><span class="glyphicon glyphicon-phone-alt"></span></a>
                    </span>
                    <span>
                        <a class="link-mail" data-toggle="tooltip" data-placement="bottom" data-animation="true" href="#" data-original-title="Correo Institucional"><span class="glyphicon glyphicon-envelope"></span></a>
                    </span>
                </div>
                <!-- Fin links-fisi -->
            </div>
        </div>
        <!-- Fin menu superior -->
        <!--Inicio opacar página-->
        <label for="menu-checkbox" id="overlay"></label>
        <div class="clearfix"></div>
        <!-- Fin opacar página -->
        <!-- Inicio renderizado contenido -->
        @RenderBody()
        <!-- Fin renderizado contenido -->
        <!-- Inicio post-footer -->
        <div class="post-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        @DateTime.Now.Year - FISI - UNMSM
                        <p>Desarrollado por: <a class="developers" href="#">Unidad de Estadística e Informática</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin post-footer-->
        <!-- Inicio Scripts -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript">
            $(function () {
                $("[data-toggle='tooltip']").tooltip();
            });
            $('.dropdown-toggle').dropdown();
        </script>
        <!-- Fin Scripts -->
    </div>
</body>
</html>
