﻿@{
    ViewBag.Title = "Principal Productos";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Mantenimiento de Productos</h2>
        </div>
    </div>
</div>