﻿@model CRM.Entity.SUBCATEGORIA2

@{
    ViewBag.Title = "Subcategoria 2-Create";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nueva Sub-Categoria2</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos de la Sub-Categoria2</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA2, "ID SUBCATEGORIA 2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA2, new { @class = "form-control", placeholder = "ID de la Sub-categoria2", type = "number", title = "Ingrese aquí el ID de la Sub-categoria2", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_SUBCATEGORIA2)</strong>
                                </div>
                            </div>
                            <br/>

                            @*<div class="editor-label">
                                @Html.LabelFor(model => model.CODIGO_SUBCATEGORIA2)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.CODIGO_SUBCATEGORIA2)
                                @Html.ValidationMessageFor(model => model.CODIGO_SUBCATEGORIA2)
                            </div>*@

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_SUBCATEGORIA2, "NOMBRE SUBCATEGORIA 2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_SUBCATEGORIA2, new { @class = "form-control", placeholder = "Nombre de la Sub-categoria2", title = "Ingrese aquí el Nombre de la Sub-categoria2", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.NOMBRE_SUBCATEGORIA2)</strong>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA1, "SUBCATEGORIA1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DropDownList("ID_SUBCATEGORIA1", String.Empty)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_SUBCATEGORIA1)</strong>
                                </div>
                            </div>
                            <br/>

                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="Crear" />
                                </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver a la Tabla de SubCategorias2", "Index")
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
