﻿@model CRM.Entity.SUBCATEGORIA2

@{
    ViewBag.Title = "Subcategoria 2-Delete";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SUBCATEGORIA2</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
