﻿@model CRM.Entity.SUBCATEGORIA2

@{
    ViewBag.Title = "Subcategoria 2-Details";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Detalle Sub-Categoria2</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos de la Sub-Categoria2</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA2, "ID SUBCATEGORIA 2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA2, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la Sub-categoria2", type = "number", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.CODIGO_SUBCATEGORIA2, "CODIGO SUBCATEGORIA 2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.CODIGO_SUBCATEGORIA2, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la Sub-categoria2", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_SUBCATEGORIA2, "NOMBRE SUBCATEGORIA 2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_SUBCATEGORIA2, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre de la Sub-categoria2", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA1, "SUBCATEGORIA1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre de la Sub-categoria2", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID_SUBCATEGORIA2  }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@*<h2>Details</h2>

<fieldset>
    <legend>SUBCATEGORIA2</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
