﻿@{
    ViewBag.Title = "Principal Post-Venta";
    Layout = "~/Areas/PostVenta/Views/MasterPostVenta.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Post-Venta</h2>
        </div>
    </div>
</div>