html {
    position: relative;
    min-height: 100%;
}

body {
    background-attachment: fixed;
    background-color: #fff;
    color: #404040;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 90px;
}

header {
    background-color: #fff;
    padding: 15px 0 15px 0;
}

footer,
.post-footer {
    font-family: 'Segoe UI', 'Open Sans', Oswald, Arial, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    color: #b9b9b9;
}

    footer a,
    .post-footer a {
        color: #b9b9b9;
        border-bottom-color: transparent;
    }

        footer a:hover,
        .post-footer a:hover {
            color: #fff;
        }

footer {
    background-color: #313030;
    padding-bottom: 1rem;
    padding-top: 4rem;
}

    footer a:hover {
        color: #fff;
        border-bottom-color: #90b82c;
    }

    footer h2 {
        border-bottom: 1px solid;
        color: #fff;
        font-size: 18px;
        font-variant: small-caps;
    }

.container-navbar {
    padding-bottom: 22px;
}

.fisi-logo-container {
    max-width: 280px;
}

.pre-header {
    font-family: 'Segoe UI', 'Open Sans', Oswald, Arial, sans-serif;
    background-color: #1e4b73;
    border-top: 1px solid #438cce;
    padding: 5px 0;
    width: 100%;
}

.links-fisi {
    font-family: 'Segoe UI', 'Open Sans', Oswald, Arial, sans-serif;
    margin-right: 3rem;
}

    .links-fisi span a {
        background-color: #1c456a;
        border: 1px solid transparent;
        border-radius: 50%;
        color: #fff;
        display: block;
        float: left;
        font-size: 16px;
        line-height: 35px;
        margin-left: .2em;
        padding: 0 1rem;
        -webkit-transition: all ease .35s;
        -moz-transition: all ease .35s;
        -ms-transition: all ease .35s;
        -o-transition: all ease .35s;
        transition: all ease .35s;
    }

        .links-fisi span a:hover {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }

.link-facebook:hover {
    background-color: #3b5998;
}

.link-mail:hover {
    background-color: #800;
}

.link-phone:hover {
    background-color: #f90;
}

.link-twitter:hover {
    background-color: #55acee;
}

.link-youtube:hover {
    background-color: #cc181e;
}

.links-top {
    display: block;
    text-align: center;
    vertical-align: bottom;
}

    .links-top span a {
        background-color: #1a4265;
        border-bottom: 0;
        border-right: solid 2px #1e4b73;
        border-top: solid 1px #1e4b73;
        color: #fff;
        display: block;
        float: left;
        vertical-align: middle;
        font-size: 17px;
        line-height: 35px;
        padding: 0 1rem;
        width: 33.333%;
    }

    .links-top span:last-child > a {
        border-right: 0;
    }

.link-biblio a:hover {
    background-color: #f90;
}

.link-sum a:hover {
    background-color: #4c9ed9;
}

.link-unmsm a:hover {
    background-color: #800;
}

.post-footer {
    background-color: #272626;
    padding: 1em 0 .5em 0;
}

    .post-footer .developers:hover {
        border-bottom: 1px solid #a6d03c;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;
    }

.disabled-icon {
    display: none;
}

.container-navbar .container {
    position: relative;
}

#menu-checkbox,
#fisi-checkbox {
    display: none;
}

#header {
    background-color: #e4e4e4;
    border-bottom: 1px solid #cecece;
    height: 100%;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 48px;
    width: 100%;
    z-index: 100;
}

#drawer {
    font-family: 'Segoe UI', 'Open Sans', Oswald, Arial, sans-serif;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .7s;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    background: #fff;
    color: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 49px;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    width: 300px;
    z-index: 101;
}

#menu-btn {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #29679e;
    border: 1px solid #1c476d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 300;
    line-height: 35px;
    padding: 0 2.8rem 0 2rem;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    user-select: none;
    vertical-align: middle;
    z-index: 100;
}

    #menu-btn:hover {
        background-color: #317abb;
        border-color: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }

    #menu-btn i:before {
        position: absolute;
        top: 11px;
        right: 8px;
        border-radius: 50%;
    }

#content {
    margin-top: 60px;
}

#menu-checkbox:checked ~ #overlay {
    display: block;
}

#menu-checkbox:checked ~ #drawer {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}

#menu-checkbox:checked ~ #header #three-lines {
    left: -3px;
    position: relative;
}

.menu {
    font-size: 18px;
    list-style: none;
    padding: 0;
    width: 100%;
}

    .menu li a {
        border-bottom: 0;
        color: #555;
        display: block;
        margin-bottom: 2px;
        padding: 10px;
        text-decoration: none;
    }

    .menu li ul li a {
        font-size: 14px;
        text-shadow: 1px 0 1px rgba(255, 255, 255, 0.5);
    }

    .menu li a:hover {
        background-color: #1e4b73;
        color: #fff;
        -webkit-transition: background .1s ease-in;
        -moz-transition: background .1s ease-in;
        -ms-transition: background .1s ease-in;
        -o-transition: background .1s ease-in;
        transition: background .1s ease-in;
    }

    .menu li a.biblioteca {
        border-right: 3px solid #ff7d04;
    }

        .menu li a.biblioteca:hover,
        .menu li a.biblioteca.active {
            background-color: #ff7d04;
        }

    .menu li a.cenpro {
        border-right: 3px solid #00bfff;
    }

        .menu li a.cenpro:hover,
        .menu li a.cenpro.active {
            background-color: #00bfff;
        }

    .menu li a.ceups {
        border-right: 3px solid #80322e;
    }

        .menu li a.ceups:hover,
        .menu li a.ceups.active {
            background-color: #80322e;
        }

    .menu li a.fisi {
        border-right: 3px solid #1e4b73;
    }

        .menu li a.fisi:hover,
        .menu li a.fisi.active {
            background-color: #1e4b73;
        }

    .menu li a.investigacion {
        border-right: 3px solid #d24400;
    }

        .menu li a.investigacion:hover,
        .menu li a.investigacion.active {
            background-color: #d24400;
        }

    .menu li a.posgrado {
        border-right: 3px solid #008580;
    }

        .menu li a.posgrado:hover,
        .menu li a.posgrado.active {
            background-color: #008580;
        }

    .menu li a.sistemas {
        border-right: 3px solid #0072c3;
    }

        .menu li a.sistemas:hover,
        .menu li a.sistemas.active {
            background-color: #0072c3;
        }

    .menu li a.software {
        border-right: 3px solid #0aa4c0;
    }

        .menu li a.software:hover,
        .menu li a.software.active {
            background-color: #0aa4c0;
        }

    .menu li a.active {
        color: #fff;
    }

    .menu ul {
        height: 0;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

        .menu ul li a {
            background: #fafafa;
        }

            .menu ul li a:hover {
                -moz-transition: color .4s ease;
                -o-transition: color .4s ease;
                -webkit-transition: color .4s ease;
                background: none repeat scroll 0 0 #ccc;
                color: #fff;
            }

@media (min-width: 768px) {
    #menu-btn {
        min-width: 120px;
        text-align: center;
    }
}

@media (min-width: 340px) {
    .hidden-xs-320 {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .pre-header .container,
    .container-navbar .container {
        width: 100%;
    }

    .fisi-logo-container {
        display: block;
        float: none !important;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    label {
        margin-bottom: 0;
    }

    #menu-btn {
        float: left;
    }

    .links-fisi,
    .links-top {
        float: right;
    }

        .links-fisi span a,
        .links-top span a {
            width: auto;
        }

    .pre-header-left {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .pre-header {
        padding-left: 3em;
        padding-right: 3em;
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-top {
    background: linear-gradient(to bottom, #fff 5%, #f0f0f0 100%) repeat scroll 0% 0% transparent;
    border: 0;
    box-shadow: 0 2px 3px 2px #1e4b73;
}

    .navbar-top .navbar-header {
        border-bottom: 1px solid #e0e0e0;
        border-top: 0;
    }

    .navbar-top .navbar-nav {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #fff;
    }

        .navbar-top .navbar-nav > li > a {
            border-left: 1px solid #fff;
            border-right: 1px solid #d9d9d9;
            border-bottom: 0;
            color: #555;
            font-family: Arial, sans-serif;
            font-size: 16px;
            padding-bottom: 12px;
            padding-right: 17px;
            padding-top: 12px;
            position: relative;
            text-align: center;
            text-shadow: none;
            -webkit-transition: all .15s;
            -moz-transition: all .15s;
            -ms-transition: all .15s;
            -o-transition: all .15s;
            transition: all .15s;
        }

            .navbar-top .navbar-nav > li > a:hover,
            .navbar-top .navbar-nav > li > a:active {
                background-color: #1e4b73;
                color: #fff;
            }

.dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    min-width: 215px;
    padding-bottom: 0;
    padding-top: 0;
}

    .dropdown-menu li {
        border-bottom: 1px solid #f2f2f2;
    }

        .dropdown-menu li:last-child {
            border-bottom: none;
        }

        .dropdown-menu li:first-child {
            border-top: none;
        }

    .dropdown-menu > li > a {
        border: 0;
        padding: .9em 1em;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -ms-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out;
        -webkit-transition: border-left .5s ease-out;
        -moz-transition: border-left .5s ease-out;
        -ms-transition: border-left .5s ease-out;
        -o-transition: border-left .5s ease-out;
        transition: border-left .5s ease-out;
        -webkit-transition: padding-left .5s ease-out;
        -moz-transition: padding-left .5s ease-out;
        -ms-transition: padding-left .5s ease-out;
        -o-transition: padding-left .5s ease-out;
        transition: padding-left .5s ease-out;
    }

        .dropdown-menu > li > a:hover {
            border-left: #1e4b73 solid 4px;
            padding-left: 2em;
        }

.navbar-brand {
    border-bottom: 0;
}

.dropdown-special {
    clear: both;
    left: auto;
    min-width: 600px;
    overflow: hidden;
    right: -100px;
}

.navbar-top.biblioteca {
    box-shadow: 0 2px 4px 2px rgba(255, 125, 4, 0.72);
}

    .navbar-top.biblioteca .navbar-nav > li > a:hover,
    .navbar-top.biblioteca .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #ff7d04 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.cenpro {
    box-shadow: 0 2px 4px 2px rgba(0, 191, 255, 0.72);
}

    .navbar-top.cenpro .navbar-nav > li > a:hover,
    .navbar-top.cenpro .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #00bfff 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.ceups {
    box-shadow: 0 2px 4px 2px rgba(128, 50, 46, 0.72);
}

    .navbar-top.ceups .navbar-nav > li > a:hover,
    .navbar-top.ceups .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #80322e 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.fisi {
    box-shadow: 0 2px 4px 2px rgba(30, 75, 115, 0.72);
}

    .navbar-top.fisi .navbar-nav > li > a:hover,
    .navbar-top.fisi .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #1e4b73 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.investigacion {
    box-shadow: 0 2px 4px 2px rgba(210, 68, 0, 0.72);
}

    .navbar-top.investigacion .navbar-nav > li > a:hover,
    .navbar-top.investigacion .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #d24400 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.posgrado {
    box-shadow: 0 2px 4px 2px rgba(0, 133, 128, 0.72);
}

    .navbar-top.posgrado .navbar-nav > li > a:hover,
    .navbar-top.posgrado .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #008580 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.sistemas {
    box-shadow: 0 2px 4px 2px rgba(0, 114, 195, 0.72);
}

    .navbar-top.sistemas .navbar-nav > li > a:hover,
    .navbar-top.sistemas .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #0072c3 2%) repeat scroll 0% 0% transparent;
    }

.navbar-top.software {
    box-shadow: 0 2px 4px 2px rgba(10, 164, 192, 0.72);
}

    .navbar-top.software .navbar-nav > li > a:hover,
    .navbar-top.software .navbar-nav > li > a:active {
        background: linear-gradient(to bottom, #fff 0%, #0aa4c0 2%) repeat scroll 0% 0% transparent;
    }

@media (min-width: 768px) {
    .navbar-top .navbar-nav > li > a {
        text-align: left;
    }
}

.navbar-top .navbar-toggle .icon-bar {
    background-color: #1e4b73;
}

.navbar-top-fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s;
    z-index: 102;
}

    .navbar-top-fixed .nav .open > a {
        background-color: #194062;
    }

    .navbar-top-fixed .navbar-brand {
        color: #fff;
    }

    .navbar-top-fixed .navbar-header {
        margin-top: 0;
        border: none;
    }

    .navbar-top-fixed .navbar-toggle .icon-bar {
        background-color: #1e4b73;
    }

#shadow {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0, 0.48);
    -moz-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
}
