﻿@{
    ViewBag.Title = "Principal Clientes";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<!--Inicio ventana modal busqueda rapida cliente-->
@{
    Html.RenderPartial("BusquedaRapidaCliente");
}
<!--Fin ventana modal busqueda rapida cliente-->


<!--Inicio ventana modal busqueda rapida empresa-->
@{
    Html.RenderPartial("BusquedaRapidaEmpresa");
}
<!--Fin ventana modal busqueda rapida empresa-->


<!--Inicio ventana modal busqueda rapida interesado-->
@{
    ViewData["TipoPersona"] = "Natural";
    Html.RenderPartial("BusquedaRapidaInteresado", ViewData);
}
<!--Fin ventana modal busqueda rapida interesado-->

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Clientes</h2>
            <br />
            <small>Enlaces directos:</small>
            <br />
            <br />
            <center>
                <button type="button" class="btn btn-success" onclick="crearPopup('/Clientes/MantenerInteresado/PopupCrearInteresado','Registrar Nuevo Interesado - Módulo Clientes', 900, 450)"><span class="glyphicon glyphicon-user"></span> Agregar Interesado</button>
            </center>
            <br />

            <center>
                <button type="button" class="btn btn-success" onclick="crearPopup('@Url.Action("PopupCrearClienteNatural", "MantenerClienteNatural", new {@Area="Clientes" })','Nuevo Cliente - Módulo Clientes',screen.width - 100,screen.height - 200)"><span class="glyphicon glyphicon-plus"></span> Agregar Nuevo Cliente</button>
            </center>
            <br />

            <center>
                <button type="button" class="btn btn-success" onclick="crearPopup('@Url.Action("PopupCrearEmpresa", "MantenerEmpresa", new {@Area="Clientes" })','Nueva Empresa - Módulo Clientes',screen.width - 100,screen.height - 200)"><span class="glyphicon glyphicon-plus"></span> Agregar Nueva Empresa</button>
            </center>
            <br />

            <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#busquedaRapidaCliente"><span class="glyphicon glyphicon-search"></span> Busqueda rápida de clientes</button>
            </center>
            <br />

            <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#busquedaRapidaEmpresa"><span class="glyphicon glyphicon-search"></span> Busqueda rápida de empresas</button>
            </center>
            <br />

            <center>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#busquedaRapidaInteresado"><span class="glyphicon glyphicon-search"></span> Busqueda Rapida Interesado</button>
            </center>
            <br />
        </div>
    </div>
</div>


<script type="text/javascript">

    function clickFilaTablaCliente(id, n) {    //id=ID del cliente seleccionado, n= nombre completo del cliente seleccionado
        alert("ID del cliente: " + id)
        $('#busquedaRapidaCliente').modal('hide'); //Cerrar modal
    }

    function clickFilaTablaInteresado(id, tipo) {
        alert("ID del interesado: " + id);
        $('#busquedaRapidaInteresado').modal('hide');
    }

    function clickFilaTablaEmpresa(id, n) {    //id=ID del cliente seleccionado, n= nombre completo del cliente seleccionado
        alert("ID del empresa: " + id)
        $('#busquedaRapidaEmpresa').modal('hide'); //Cerrar modal
    }

    function crearPopup(url, titulo, w, h) {
        var left = (screen.width - w) / 2;
        var top = (screen.height - h) / 4;
        popup = window.open(url, titulo, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        popup.focus();
    }
</script>
