﻿@model CRM.Areas.Servicios.Models.ListaReclamoViewModel

@{
    ViewBag.Title = "ListarSugerenci";
    Layout = "~/Areas/Servicios/Views/MasterServicios.cshtml";
}

<br />
<h2>&nbsp;&nbsp;&nbsp;&nbsp;Tabla de Sugerencias</h2>

@*<div class="container" id="shadow">
<div class="jumbotron">*@

@if (ViewData["Mensaje"] != "")
    {
        <script language="javascript">
            alert('@ViewData["Mensaje"]');
        </script>
    }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
    <section class="main col-md-8">
			
			<div class="row">
				
					<div class="main col-md-8">
						<form action="" class="navbar-form navbar" role="search">

                            <div class="form-group">
                                @Html.EditorFor(model =>model.textobuscar)
                                @Html.ValidationMessageFor(model => model.textobuscar)
                            </div>
                            <button type="submit" class="btn btn-success">
								<span class="glyphicon glyphicon-search"></span>
							</button>
							&nbsp;&nbsp;&nbsp;Busqueda por sede, categoria, cliente &nbsp;

							@*<div class="form-group">
								<label class="" for="nombre">Nombre: </label>
								<input type="text" class="form-control" placeholder="buscar">
							</div>*@


							
							@*<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Codigo
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Nombre
							</label>*@
					
						</form>

						
					</div>
            </div>
        <br />
    </section>
    

    
    
}



<table class="table table-striped table-hover">
    <tr class="active danger">
        <th>ID
        </th>
        <th>
            Cliente
        </th>
        <th>
            Categoría
        </th>
        <th>
            Fec_Registro
        </th>
        <th>
            Estado
        </th>
        <th>
            Área
        </th>
        <th>
            Sede
        </th>
        <th>
            Solucion
        </th>
        
        <th>Acciones</th>
    </tr>

@foreach (var item in Model.lista) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_OPERACIÓN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_REGISTRO, "{0:d}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_OPERACIÓN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AREA_INVOLUCRADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEDE_INVOLUCRADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUCIÓN)
        </td>
        <td>
            @Html.ActionLink("Tratar", "TratarSugerencia", new { idr=item.ID_OPERACIÓN }) |
            @Html.ActionLink("Detalles", "DetalleSugerencia", new {  id=item.ID_OPERACIÓN }) 
        </td>
    </tr>
}

</table>

