﻿@{
    ViewBag.Title = "Principal Ventas";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Ventas</h2>
        </div>
    </div>
</div>
