﻿@model CRM.Entity.CATALOGO

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

@using (Html.BeginForm("Create", "Catalogo", FormMethod.Post, new { @class = "formventa form-horizontal" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CREAR CATALOGO</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHACREACION, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.FECHACREACION, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FECHACREACION)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FECHAFIN, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.FECHAFIN, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FECHAFIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCIONTEMPORADA, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.DESCRIPCIONTEMPORADA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIPCIONTEMPORADA)
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg" value="Create" />
        </div>
</fieldset>
}

<div>
    @Html.ActionLink("Regresar al Listado", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $('#ID_CATALOGO').prop('disabled', 'disabled');
        $('#FECHACREACION').prop('type', 'date');
        $('#FECHAFIN').prop('type', 'date');
    });
</script>