﻿@model CRM.Entity.CATALOGO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

<h3>Esta seguro de eliminar el catalogo</h3>
<fieldset class="formventa form-horizontal">
    <legend>ELIMINAR CATALOGO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATALOGO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATALOGO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHACREACION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHACREACION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHAFIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHAFIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPCIONTEMPORADA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPCIONTEMPORADA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
