﻿@model CRM.Entity.CATALOGO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

@using (Html.BeginForm("Edit", "Catalogo", FormMethod.Post, new { @class = "formventa form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EDITAR CATALOGO</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_CATALOGO, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ID_CATALOGO, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ID_CATALOGO)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FECHACREACION, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.FECHACREACION, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FECHACREACION)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FECHAFIN, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.FECHAFIN, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FECHAFIN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCIONTEMPORADA, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.DESCRIPCIONTEMPORADA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIPCIONTEMPORADA)
            </div>
        </div>


        <p>
            <input type="submit" class="btn btn-primary btn-lg" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $('#FECHACREACION').prop('type', 'date');
        $('#FECHAFIN').prop('type', 'date');
    });
</script>