﻿@model IEnumerable<CRM.Entity.CATALOGO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";

}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Listado de Catalogos</h2>
        <p>
            @Html.ActionLink("Agregar Nuevo Catalogo", "Create")
        </p>
        
        <table class="table table-striped">
            <tr>
                <th>
                    ID CATALOGO
                </th>
                <th>
                    FECHA DE CREACION
                </th>
                <th>
                    FECHA FIN
                </th>
                <th>
                    DESCRIPCION DE TEMPORADA
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_CATALOGO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHACREACION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHAFIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPCIONTEMPORADA)
                    </td>
                    <td>
                        <a class="btn btn-success" href="Catalogo/Vista/@item.ID_CATALOGO" title="Lista Producto">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        @Html.ActionLink("Agregar Producto", "", "Producto", new { id = item.ID_CATALOGO }, new { area = "Ventas"}) |
                        @Html.ActionLink("Editar", "Edit", new {id= item.ID_CATALOGO}) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_CATALOGO })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
