﻿@model IEnumerable<CRM.Areas.Ventas.Models.ProductoModel>

@{
    ViewBag.Title = "Vista";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";

}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Listado de Productos</h2>

        <p>
            @Html.ActionLink("Regresar", "Index")
        </p>
        <table class="table table-striped">
            <tr>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Subcategoria-1
                </th>
                <th>
                    SubCategoria-2
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Garantia
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Descuento
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subcategoria1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subcategoria2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.garantia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descuento)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", "Producto", new { id = ViewData["catalogo"]+"-"+item.idproducto }, new { area = "Ventas" })
                        @Html.ActionLink("Eliminar", "Delete", "Producto", new { id = ViewData["catalogo"] + "-" + item.idproducto }, new { area = "Ventas" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
