﻿@{
    ViewBag.Title = "Principal Administrativo";
    Layout = "~/Areas/Administrativo/Views/MasterAdministrativo.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo Administrativo</h2>
        </div>
    </div>
</div>