﻿@model CRM.Entity.CATEGORIA

@{
    ViewBag.Title = "Categoria-Delete";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CATEGORIA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATEGORIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_CATEGORIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_CATEGORIA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
