﻿@model CRM.Entity.CATEGORIA

@{
    ViewBag.Title = "Categoria-Edit";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Editar Categoria</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos de la Categoria</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.ID_CATEGORIA, "ID CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_CATEGORIA, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la categoria", type = "number", title = "Campo no editable", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_CATEGORIA)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.CODIGO_CATEGORIA, "CODIGO CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.CODIGO_CATEGORIA, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la categoria", title = "Campo no editable", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    @Html.ValidationMessageFor(model => model.CODIGO_CATEGORIA)
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_CATEGORIA, "NOMBRE CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_CATEGORIA, new { @class = "form-control", placeholder = "Nombre de la categoria", title = "Ingrese aquí el nombre de la categoria", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.NOMBRE_CATEGORIA)</strong>
                                </div>
                            </div>
                            <br />

                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="Guardar" />
                                </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Regresar a la tabla Categorias", "Index")
    </div>
</div>
