﻿@model IEnumerable<CRM.Entity.CATEGORIA>

@{
    ViewBag.Title = "Categoria-Index";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>*@
            <h4 class="modal-title"><strong>Categorias</strong></h4>
        </div>

        <div class="modal-body">
            <div class="container fluid col-md-12">
                @*<div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Nombre de Producto a buscar: </label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="txtBusquedaRapidaCliente" autofocus>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success" id="btnBusquedaRapidaCliente" onclick="busquedaRapidaCliente()"><span class="glyphicon glyphicon-search"></span> Buscar </button>
                    </div>
                </div>*@
                @*<br />*@

                @*<div class="row" id="mensajeBusquedaCliente">
                    </div>*@

                <div class="row">
                    <div>
                        <a>
                            @Html.ActionLink("Crear Nuevo", "Create")
                        </a>


                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-condensed table-striped" @*id="tablaBusquedaCliente"*@>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_CATEGORIA)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CODIGO_CATEGORIA)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NOMBRE_CATEGORIA)
                                    </th>
                                    <th>
                                        @Html.DisplayName("OPERACIONES")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID_CATEGORIA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CODIGO_CATEGORIA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NOMBRE_CATEGORIA)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_CATEGORIA }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID_CATEGORIA }) @*|
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_CATEGORIA })*@
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            @*<center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>*@
        </div>
    </div>
</div>
