﻿@model CRM.Areas.Servicios.Models.ReclamoViewModel
@{
    ViewBag.Title = "DetalleQueja";
    Layout = "~/Areas/Servicios/Views/MasterServicios.cshtml";
}



<div class="jumbotron" id="sombra">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Detalle Queja</h2>
        </div>
    </div>

    @using (Html.BeginForm()) {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        //Setear atributos 
        @Html.HiddenFor(model => model.ID_OPERACIÓN)
        @Html.HiddenFor(model => model.ID_INTERLOCUTOR)
        @Html.HiddenFor(model => model.ID_CATEGORÍA)
        @Html.HiddenFor(model => model.ID_CONTACTO)
        @Html.HiddenFor(model => model.ID_CATEGORÍA)
        @Html.HiddenFor(model => model.DESCRIPCIÓN)
        @Html.HiddenFor(model => model.ID_PEDIDO)
        @Html.HiddenFor(model => model.ID_POST_VENTA)
        @Html.HiddenFor(model => model.ID_TIPO)
        @Html.HiddenFor(model => model.AREA_INVOLUCRADA)
        @Html.HiddenFor(model => model.descripcion_nombre_categoria)
        @Html.HiddenFor(model => model.DIRECCIÓN)
        @Html.HiddenFor(model => model.DNI_RUC)
        @Html.HiddenFor(model => model.R_CÓDIGO_RECLAMADO)
        @Html.HiddenFor(model => model.R_MONTO_RECLAMADO)
        @Html.HiddenFor(model => model.TELÉFONO)
        @Html.HiddenFor(model => model.SEDE_INVOLUCRADA)
        @Html.HiddenFor(model => model.FECHA_PLAZO)
        @Html.HiddenFor(model => model.FECHA_REGISTRO)
        @Html.HiddenFor(model => model.FECHA_REMISIÓN)
        @Html.HiddenFor(model => model.FECHA_RESPUESTA)
        @Html.HiddenFor(model => model.lista_sedes)
        @Html.HiddenFor(model => model.lista_areas)
        @Html.HiddenFor(model => model.lista_categoria)
        @Html.HiddenFor(model => model.nombre_categoria)

        @*
        @Html.HiddenFor(model => model.ESTADO_OPERACIÓN)
        @Html.HiddenFor(model => model.ESTADO_RESPUESTA)
        @Html.HiddenFor(model => model.ASESOR_RESPONSABLE)
        *@
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Detalles</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br />
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            @Html.Label("CLIENTE", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.NOM_CLIENTE
                                </div>
                            </div>   
                        </div>
                        @*CLIENTE  : @Model.NOM_CLIENTE*@
                        <br/>
                        <div class="row">
                            @Html.Label("DNI", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.DNI_RUC
                                </div>
                            </div>   
                        </div>
                        @*DNI      : @Model.DNI_RUC*@
                        <br/>
                        <div class="row">
                            @Html.Label("DETALLE OPERACIÓN", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.DESCRIPCIÓN
                                </div>
                            </div>   
                        </div>
                        @*PROBLEMA : @Model.DESCRIPCIÓN*@
                        <br/>
                        <div class="row">
                            @Html.Label("NOMBRE CATEGORÍA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.nombre_categoria
                                </div>
                            </div>   
                        </div>
                        @*CATEGORÍA: @Model.nombre_categoria*@
                        <br />
                        <div class="row">
                            @Html.Label("DESCRIPCIÓN", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.descripcion_nombre_categoria
                                </div>
                            </div>   
                        </div>
                        @*DESCRIPCIÓN: @Model.descripcion_nombre_categoria*@
                        <br />

                        <div class="row">
                            @Html.Label("ASESOR RESPONSABLE", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.ASESOR_RESPONSABLE
                                </div>
                            </div>   
                        </div>
                        <br />

                        <div class="row">
                            @Html.Label("SOLUCIÓN", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">    
                                @Model.SOLUCIÓN
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <br />
        </div>
        
        
    </div>
        
    <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                </div>

                <div class="col-md-3">
                    <center>
                        @*<button type="button" class="btn btn-danger" onclick="if (confirm('¿Está seguro que desea salir?')) cancel(); return false"><span class="glyphicon glyphicon-remove"></span> Regresar </button>*@
                        <a href="/Servicios/Queja/ListarQueja" onclick="return confirm('Seguro desea salir?')" class="btn btn-danger" role="button">Lista</a>
                    </center>
                </div>
                
            </div>
        </div>
        
        
    }


</div>
