﻿@{
    Layout = "~/Views/Master.cshtml";
}

<link href="@Url.Content("~/Content/Clientes/CSSClientes.css")" rel="stylesheet" type="text/css" />

<!-- Inicio cabecera -->
<header>
    <div class="container-fluid well">
        <div class="container">
            <figure class="pull-left">
                <img class="img-responsive img-thumbnail img-rounded" src="@Url.Content("~/Content/Clientes/banner.png")" alt="Clientes">
            </figure>
            <br />
            <h2 class="text-center text-info"><strong>Módulo de Clientes</strong></h2>
        </div>
    </div>
</header>
<!-- Fin cabecera -->
<!-- Inicio barra de navegacion por módulo -->
<div class="container-navbar">
    <nav class="navbar navbar-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="nav navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Inicio", new { Area = "Clientes" })">Inicio</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Agregar <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("CrearCliente", "MantenerClienteNatural", new { Area = "Clientes" })">Cliente Natural</a></li>
                                <li><a href="@Url.Action("CrearEmpresa", "MantenerEmpresa", new { Area = "Clientes" })">Empresa</a></li>
                                <li><a href="@Url.Action("CrearInteresado", "MantenerInteresado", new { Area = "Clientes" })">Interesado</a></li>
                                <li><a href="@Url.Action("CrearEmpleado", "MantenerEmpleado", new { Area = "Clientes" })">Empleado</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Consultar <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "ConsultarInterlocutor", new { Area = "Clientes" })">Interlocutor Comercial</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("ListarRemitidos", "Reclamo", new { Area = "Servicios" , id="Clientes"})">Remitidos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Fin barra de navegacion por módulo -->
<!--Inicio contenido vista de módulo-->
@RenderBody()
<!--Fin contenido vista de módulo-->
<br />
<!--Inicio Scripts Modulo-->

<script type="text/javascript" src="@Url.Content("~/Scripts/Clientes/JSClientes.js")"></script>

<script type="text/javascript">
    //Script para que se mantenga el navbar en la parte superior luego de hacer scroll.
    $(document).on("ready", function () {
        var a = $(".navbar-top"), b = a.offset().top, c = $("#menu-btn");
        $(window).on("scroll", function () {
            $(window).scrollTop() > b ? a.hasClass("navbar-top-fixed") || (a.addClass("navbar-top-fixed"), c.addClass("drawer-btn-fixed")) : a.hasClass("navbar-top-fixed") && (a.removeClass("navbar-top-fixed"), c.removeClass("drawer-btn-fixed"))
        });
    });
</script>
<!--Fin Scripts Modulo-->