﻿@model CRM.Entity.CATALOGO_PRODUCTO

@{
    Layout = null;
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Esta seguro de eliminar el Item?</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="btn btn-primary btn-lg"  value="Eliminar" /> |
            @Html.ActionLink("Regresar", "Vista", "Catalogo", new { id = Model.ID_CATALOGO }, new { area = "Ventas" })
        </p>
    }

</body>
</html>
