﻿@model CRM.Areas.Ventas.Models.ProductoModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { @class = "formventa form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductoModel</legend>

        @Html.HiddenFor(model => model.idproducto)

        <div class="form-group">
            @Html.LabelFor(model => model.idCatalogo, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.idCatalogo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.idCatalogo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigo, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.modelo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.modelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoria, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.categoria, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.categoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subcategoria1, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.subcategoria1, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.subcategoria1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subcategoria2, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.subcategoria2, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.subcategoria2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marca, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.marca, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.marca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.precio, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.garantia, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.garantia, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.garantia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.stock, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.stock, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.stock)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.descuento, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.descuento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.descuento)
            </div>
        </div>
        <p>
            <input type="submit" class="btn btn-primary btn-lg" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Vista", "Catalogo", new { id = Model.idCatalogo }, new { area = "Ventas" })
</div>

