﻿@model IEnumerable<CRM.Areas.Ventas.Models.ProductoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>SELECCIONAR PRODUCTOS</h2>

        <p>
            @Html.ActionLink("Regresar", "", "Catalogo", null, new { area = "Ventas" })
        </p>
        <table class="table table-striped">
            <tr>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Subcategoria-1
                </th>
                <th>
                    SubCategoria-2
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Garantia
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Descuento
                </th>
                <th>
                    Seleccionar Producto
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subcategoria1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subcategoria2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.garantia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descuento)
                    </td>
                    <td>
                        <input type="checkbox" class="Elegirproducto" name="ElegirProducto-@item.idproducto" value="">
                    </td>
                </tr>
            }

        </table>
        <div id="AgregarProducto" class="btn btn-primary btn-lg">Agregar</div>
    </div>
</div>


<script type="text/javascript">
    $("#AgregarProducto").click(function () {
        var textoChecked = "";
        $('.Elegirproducto').each(function(index) {
            if (this.checked) {
                var arrayNombre = this.name.split('-');
                textoChecked = textoChecked + '-' + arrayNombre[1];
            }
        });
        if(textoChecked.length>1){
            var url = '@Url.Action("GuardarProducto", "Producto", new { Area = "Ventas" })';
            var data = {
                catalogoid: @ViewData["catalogo"],
                text: textoChecked
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                success: function (returnPayload) {
                    if(returnPayload.msg=='ok'){
                        window.location.href = '@Url.Action("Index", "Catalogo", new { Area = "Ventas" })';
                    }else{
                        alert("error al guardar productos");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("error al guardar productos");
                },
                dataType: "json",
                contentType: "application/json",
                processData: false,
                async: false
            });
        }else{
            alert("seleccione algun producto");
        }

    });
</script>
