﻿@model CRM.Areas.Servicios.Models.ReclamoViewModel

@{
    ViewBag.Title = "RegistrarReclamo";
    Layout = "~/Areas/Servicios/Views/MasterServicios.cshtml";
}

<!--Inicio ventana modal busqueda rapida cliente-->
@{
    Html.RenderPartial("~/Areas/Clientes/Views/Shared/BusquedaRapidaCliente.cshtml");
}
<!--Fin ventana modal busqueda rapida cliente-->
<!--Inicio ventana modal busqueda rapida empresa-->
@{
    Html.RenderPartial("~/Areas/Clientes/Views/Shared/BusquedaRapidaEmpresa.cshtml");
}
<!--Fin ventana modal busqueda rapida empresa-->



<div class="jumbotron" id="sombra">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Nuevo Reclamo</h2>
        </div>
    </div>

    @using (Html.BeginForm()) {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Datos Reclamo</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br />
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            @Html.Label("NOMBRE DEL CLIENTE", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.NOM_CLIENTE, new { @class = "form-control", placeholder = "Nombre del cliente", type = "text", required = "" })
                                @Html.HiddenFor(model => model.ID_INTERLOCUTOR)
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#busquedaRapidaCliente"><span class="glyphicon glyphicon-search"></span> Buscar cliente</button>
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#busquedaRapidaEmpresa"><span class="glyphicon glyphicon-search"></span> Buscar empresa</button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("DNI/RUC", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.DNI_RUC, new { @class = "form-control", placeholder = "DNI del cliente", type = "number", min = "10000000", max = "99999999", required = "" })
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" onclick="BusquedaCliente();"><span class="glyphicon glyphicon-search"></span> </button>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" onclick="BusquedaCliente();"><span class="glyphicon glyphicon-search"></span> </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("PRODUCTO", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.ID_PRODUCTO, new { @class = "form-control", placeholder = "Producto", type = "text", required = "" })
                                @Html.HiddenFor(model => model.ID_PEDIDO)
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" onclick="BusquedaCliente();"><span class="glyphicon glyphicon-search"></span> </button>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            @Html.Label("DETALLE OPERACIÓN", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.TextAreaFor(model => model.DESCRIPCIÓN, new { @class = "form-control", placeholder = "DESCRIPCIÓN", type = "text", required = "" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            @Html.Label("SEDE INVOLUCRADA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Html.DropDownListFor(model => model.SEDE_INVOLUCRADA, new SelectList(Model.lista_sedes), "- Seleccione -", new { @class = "form-control", required = ""})
                                </div>
                            </div>
                            @Html.Label("ÀREA INVOLUCRADA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.AREA_INVOLUCRADA, new SelectList(Model.lista_areas), "- Seleccione -", new { @class = "form-control", required = ""})
                                </div>
                            </div>   
                        </div>
                        <br />


                        <div class="row">
                            @Html.Label("MONTO RECLAMADO", new { @class = "col-md-2 control-label", placeholder = "0.00" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.R_MONTO_RECLAMADO, new { @class = "form-control", style = "width:100%", placeholder = "R_MONTO_RECLAMADO", type = "number", required = "" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.Label("CÓDIGO DEL RECLAMO", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.R_CÓDIGO_RECLAMADO, new { @class = "form-control", style = "width:100%", placeholder = "R_CÓDIGO_RECLAMADO", type = "number", required = "" })
                                </div>
                            </div>
                            @Html.Label("CATEGORÍA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.ID_CATEGORÍA, new SelectList(Model.lista_categoria, "ID_CATEGORÍA", "NOMBRE_CATEGORÍA"), "- Seleccione -", new { @class = "form-control", required = ""})
                                </div>
                            </div>
                            
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <br />
        </div>
        
        
    </div>
        
    <div class="form-group">
            <div class="row">

                <div class="col-md-4">
                    <center>
                        <button type="submit" onclick="return confirm('¿Está seguro que desea registrar el reclamo?')" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Guardar </button>
                    </center>
                </div>

                <div class="col-md-4">
                    <center>
                        <button type="reset" onclick="return confirm('¿Está seguro que desea limpiar los campos?')" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Limpiar </button>
                    </center>
                </div>

                <div class="col-md-4">
                    <center>
                        <button type="button" class="btn btn-danger" onclick="if (confirm('¿Está seguro que desea salir?')) cancel(); return false"><span class="glyphicon glyphicon-remove"></span> Regresar </button>
                    </center>
                </div>
                
            </div>
        </div>
        
        
    }


</div>


<script>
    function clickFilaTablaCliente(id, n) {
        $.ajax({
            cache: false,
            type: 'GET',
            datatype: 'json',
            contentType: 'application/json',
            url: '@Url.Action("ObtenerClienteJson", "MantenerClienteNatural", new { @Area = "Clientes"})',
            data: { "id": id },
            success: function (data) {
                $('#ID_INTERLOCUTOR').val(data.ID);
                $('#DNI_RUC').val(data.DNI);
                $('#NOM_CLIENTE').val(data.Nombres + " " + data.ApePaterno + " " + data.ApeMaterno);
                console.dir(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error al obtener cliente");
            }
        });
        $('#busquedaRapidaCliente').modal('hide');
    }

    function clickFilaTablaEmpresa(id, n) {
        $.ajax({
            cache: false,
            type: 'GET',
            datatype: 'json',
            contentType: 'application/json',
            url: '@Url.Action("ObtenerEmpresaJson", "MantenerEmpresa", new { @Area = "Clientes" })',
            data: { "id": id },
            success: function (data) {
                $('#ID_INTERLOCUTOR').val(data.ID);
                $('#DNI_RUC').val(data.RUC);
                $('#NOM_CLIENTE').val(data.RazonSocial);
                console.dir(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error al obtener empresa");
            }
        });
        $('#busquedaRapidaEmpresa').modal('hide');
    }
</script>