﻿@model CRM.Areas.Servicios.Models.ReclamoViewModel
@{
    ViewBag.Title = "TratarReclamo";
    Layout = "~/Areas/Servicios/Views/MasterServicios.cshtml";
}

<div class="jumbotron" id="sombra">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Tratar Reclamo</h2>
        </div>
    </div>

    @using (Html.BeginForm()) {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model=>model.ID_OPERACIÓN)
                                @Html.HiddenFor(model=>model.AREA_INVOLUCRADA)
                                @Html.HiddenFor(model=>model.DESCRIPCIÓN)
                                @Html.HiddenFor(model=>model.DIRECCIÓN)
                                @Html.HiddenFor(model=>model.DNI_RUC)
                                @Html.HiddenFor(model=>model.ESTADO_OPERACIÓN)
                                @Html.HiddenFor(model=>model.ESTADO_RESPUESTA)
                                @Html.HiddenFor(model=>model.FECHA_PLAZO)
                                @Html.HiddenFor(model=>model.FECHA_REGISTRO)
                                @Html.HiddenFor(model=>model.FECHA_REMISIÓN)
                                @Html.HiddenFor(model=>model.FECHA_RESPUESTA)
                                @Html.HiddenFor(model=>model.ID_CATEGORÍA)
                                @Html.HiddenFor(model=>model.ID_CONTACTO)
                                @Html.HiddenFor(model=>model.ID_INTERLOCUTOR)
                                @Html.HiddenFor(model=>model.ID_PEDIDO)
                                @Html.HiddenFor(model=>model.ID_POST_VENTA)
                                @Html.HiddenFor(model=>model.ID_PRODUCTO)
                                @Html.HiddenFor(model=>model.ID_TIPO)
                                @Html.HiddenFor(model=>model.NOM_CLIENTE)
                                @Html.HiddenFor(model=>model.R_CÓDIGO_RECLAMADO)
                                @Html.HiddenFor(model=>model.R_MONTO_RECLAMADO)
                                @Html.HiddenFor(model=>model.S_GARANTÍA)
                                @Html.HiddenFor(model=>model.S_PRECIO_SOLICITUD)
                                @Html.HiddenFor(model=>model.S_TIPO_INMUEBLE)
                                @Html.HiddenFor(model=>model.SEDE_INVOLUCRADA)
                                @Html.HiddenFor(model=>model.TELÉFONO)
                                @Html.HiddenFor(model=>model.lista_areas)
                                @Html.HiddenFor(model=>model.lista_categoria)
                                @Html.HiddenFor(model=>model.lista_sedes)

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Respuesta</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br />
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            @Html.Label("CLIENTE", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.NOM_CLIENTE
                                </div>
                            </div>   
                        </div>
                        @*CLIENTE  : @Model.NOM_CLIENTE*@
                        <br/>
                        <div class="row">
                            @Html.Label("DNI", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.DNI_RUC
                                </div>
                            </div>   
                        </div>
                        @*DNI      : @Model.DNI_RUC*@
                        <br/>
                        <div class="row">
                            @Html.Label("DETALLE OPERACIÓN", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.DESCRIPCIÓN
                                </div>
                            </div>   
                        </div>
                        @*PROBLEMA : @Model.DESCRIPCIÓN*@
                        <br/>
                        <div class="row">
                            @Html.Label("NOMBRE CATEGORÍA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.nombre_categoria
                                </div>
                            </div>   
                        </div>
                        @*CATEGORÍA: @Model.nombre_categoria*@
                        <br />
                        <div class="row">
                            @Html.Label("DESCRIPCIÓN CATEGORÍA", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Model.descripcion_nombre_categoria
                                </div>
                            </div>   
                        </div>
                        @*DESCRIPCIÓN: @Model.descripcion_nombre_categoria*@
                        <br />

                        <div class="row">
                            @Html.Label("ASESOR RESPONSABLE", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                <div class="input-group">                       
                                    @Html.DropDownListFor(model => model.ASESOR_RESPONSABLE, new SelectList(Model.lista_nombre_asesor), "- Seleccione -", new { @class = "form-control", required = ""})
                                </div>
                            </div>   
                        </div>
                        <br />



                        <div class="row">
                            
                            <div class="col-md-4">
                            INGRESE SOLUCIÓN:
                            <br />

                            @Html.TextAreaFor(model => model.SOLUCIÓN, new { @class = "form-control", placeholder = "Solución del problema", type = "text",required = "" })
                            </div>
                        </div>
                        <br />

                        

                    </div>
                </div>
            </div>
            <br />
        </div>
        
        
    </div>
        
    <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <center>
                        <input name="btn" value="Responder" type="submit" onclick="return confirm('¿Está seguro que desea registrar la respuesta?')" class="btn btn-primary">
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <input name="btn" value="Remitir" type="submit" onclick="return confirm('¿Está seguro que desea remitir reclamo?')" class="btn btn-primary">
                        
                    </center>
                </div>

                <div class="col-md-3">
                    <center>
                        <input type="button" value="Regresar" class="btn btn-danger" onclick="if (confirm('¿Está seguro que desea salir?')) cancel(); return false"> 
                    </center>
                </div>
                
            </div>
        </div>
        
        
    }
</div>

@*<script type="text/javascript">
      $("#Responder").click(function() {
          var form = $(this).parent(form);
          form.attr("TratarReclamo", "@Url.Action("ListarReclamo","Reclamo")");
          form.submit();
      });

      $("#Remitir").click(function() {
          var form = $(this).parent(form);
          form.attr("RemitirReclamo", "@Url.Action("ListarReclamo","Reclamo")");
          form.submit();
      });
</script>*@