﻿@model CRM.Areas.Clientes.Models.InteresadoModel

@{
    ViewBag.Title = "Detalle de Interesado";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Detalles de Interesado</h2>
        </div>
    </div>
    <br />

    <!--Panel datos del interesado-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Interesado</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">

                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label>Interlocutor ID</label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />

                <!--Tipo de Persona-->
                <div class="row">
                    <div class="col-md-1"></div>
                    @Html.LabelFor(model => model.TipoDePersona, new { @class = "col-sm-3 col-md-2 control-label" })
                    <div class="col-sm-5 col-md-4">
                        @Html.DropDownListFor(model => model.TipoDePersona, Model.ListaComboTipoPersona, "-- Seleccione Tipo de Persona --", new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <br />

                <!--Nombre/Razon Social-->
                <div class="row">
                    <div class="col-md-1"></div>
                    @Html.LabelFor(model => model.Nombre, new { @class = "col-sm-3 col-md-2 control-label" })
                    <div class="col-sm-5 col-md-4">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />

                @if (Model.TipoDocumento.Equals("DNI"))
                {
                    <!-- DNI -->
                    <div class="row">
                        <div class="col-md-1"></div>
                        @Html.LabelFor(model => model.DNI, new { @class = "col-sm-3 col-md-2 control-label" })
                        <div class="col-sm-5 col-md-4">
                            @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <br />
                }
                else
                {
                    if (Model.TipoDocumento.Equals("RUC"))
                    {
                        <!-- RUC -->
                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.RUC, new { @class = "col-sm-3 col-md-2 control-label" })
                            <div class="col-sm-5 col-md-4">
                                @Html.TextBoxFor(model => model.RUC, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <center>Error TipoDocumento debe ser "DNI" o "RUC"</center>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
    </div>

    @if (Model.Correo == null && Model.Direccion == null && Model.Telefono == null)
    {
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
            </div>
        </div>
    }
    else
    {
       <!--Panel datos opcionales-->
        <div class="panel-group" id="divDatosOpcInteresado">
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#divDatosOpcInteresado" data-target="#opcionalesCollapse">
                    <h4 class="panel-title accordion-toggle">Datos Opcionales</h4>
                </div>
                <div id="opcionalesCollapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">

                            @if (Model.Telefono != null)
                            {
                                <!-- Telefono -->
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    @Html.Label("Teléfono:", new { @class = "col-sm-3 col-md-2 control-label" })
                                    <div class="col-sm-4 col-md-3">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        @Html.DropDownListFor(model => model.IDTipoTelefono, Model.ListaComboTelefono, "-- Tipo Teléfono --", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <br />
                            }

                            @if (Model.Correo != null)
                            {
                                <!-- Correo -->
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    @Html.Label("Correo:", new { @class = "col-sm-3 col-md-2 control-label" })
                                    <div class="col-sm-6 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@@</span>
                                            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 text-danger">
                                        <strong>@Html.ValidationMessageFor(model => model.Correo)</strong>
                                    </div>
                                </div>
                                <br />
                            }

                            @if (Model.Direccion != null)
                            {
                                <!-- Direccion -->
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    @Html.Label("Dirección:", new { @class = "col-sm-3 col-md-2 control-label" })
                                    <div class="col-sm-6 col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                            @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4 col-md-4">
            </div>
            <div class="col-sm-4 col-md-4">
                <center>
                    <button type="button" class="btn btn-default" onclick="history.back()"><span class="glyphicon glyphicon-triangle-left"></span> Atrás </button>
                </center>
            </div>
            <div class="col-sm-4 col-md-4">
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<br />