﻿@model CRM.Entity.SUBCATEGORIA1

@{
    ViewBag.Title = "Subcategoria 1-Delete";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SUBCATEGORIA1</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
