﻿@model CRM.Entity.SUBCATEGORIA1

@{
    ViewBag.Title = "Subcategoria 1-Details";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Detalle Sub-Categoria1</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos de la Sub-Categoria1</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA1, "ID SUBCATEGORIA 1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la Sub-categoria1", type = "number",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.CODIGO_SUBCATEGORIA1, "CODIGO SUBCATEGORIA 1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.CODIGO_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "ID de la Sub-categoria1",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_SUBCATEGORIA1, "NOMBRE SUBCATEGORIA 1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre de la Sub-categoria1",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_CATEGORIA, "CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_CATEGORIA, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre de la Sub-categoria1",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Editar", "Edit", new {  id=Model.ID_SUBCATEGORIA1 }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@*<h2>Details</h2>

<fieldset>
    <legend>SUBCATEGORIA1</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
