﻿@model CRM.Areas.Ventas.Models.ClienteProductoModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";

}

<!--Inicio ventana modal busqueda rapida cliente-->
@{
    Html.RenderPartial("~/Areas/Clientes/Views/Shared/BusquedaRapidaCliente.cshtml");
}
<!--Fin ventana modal busqueda rapida cliente-->


<div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-5">
            <h1 style="color:#334175;"><strong>Venta</strong></h1>
        </div>
    </div>
    <div class="row"><br></div>
    <div class=" row hide" id="alert_noenc">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div class="alert alert-danger"> Error ! Persona no registrada!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="nombre">Nombre del Cliente* :</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombre" id="buscaNombre">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="nombre">&nbsp; &nbsp;</label>
                </br>

                @*<button type="button" class="btn btn-success" id="btn_buscar" data-toggle="modal" data-target="#myModalBuscar">
                    Buscar <i class="glyphicon glyphicon-search"></i>
                </button>*@

                <!--BOTON BUSQUEDA RAPIDA DE CLIENTES-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#busquedaRapidaCliente"><span class="glyphicon glyphicon-search"></span> Buscar cliente</button>
                <!--FIN BOTON BUSQUEDA RAPIDA CLIENTES-->

            </div>
        </div>
    </div>

    <input type="hidden" id="ID_CLIENTE" name="ID_CLIENTE" value="" />
    <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NOMBRE">Nombres* :</label>
                    <input id="NOMBRE" name="NOMBRE" type="text" class="form-control" placeholder="Miguel Angel" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="APELLIDO">Apellidos* :</label>
                    <input id="APELLIDO" name="APELLIDO" type="text" class="form-control" placeholder="Leyva Guadalupe" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EMAIL">Corre Electronico* :</label>
                    <input id="EMAIL" name="EMAIL" type="text" class="form-control" placeholder="leyvaguadalupemiguel@gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TELEFONO">Telefono* :</label>
                    <input id="TELEFONO" name="TELEFONO" type="text" class="form-control" placeholder="994476386">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DIRECCION">Direccion* :</label>
                    <input id="DIRECCION" name="DIRECCION" type="text" class="form-control" placeholder="Av Las Flores 323">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DISTRITO">Distrito* :</label>
                    <select id="DISTRITO" name="DISTRITO" class="form-control">
                        <option value="ate">Ate</option>
                        <option value="brenia">
                            Breña
                        </option>
                        <option value="comas">Comas</option>
                        <option value="chorrillos">Chorrillos</option>
                        <option value="agustino">Agustino</option>
                        <option value="jesusmaria">Jesus Maria</option>
                        <option value="lamolina">La Molina</option>
                        <option value="magdalena">Magdalena </option>
                        <option value="miraflores">Miraflores</option>
                        <option value="pueblolibre">Pueblo Libre</option>
                        <option value="puentepiedra">Puente Piedra</option>
                        <option value="rimac">Rimac</option>
                        <option value="sanisidro">San Isidro</option>
                        <option value="independencia">Independencia</option>
                        <option value="sjm">San Juan de Miraflores</option>
                        <option value="sanluis">San Luis</option>
                        <option value="sanmartinporres">San Martin de Porres</option>
                        <option value="sanmiguel">San Miguel</option>
                        <option value="surco">Surco</option>
                        <option value="sanborja">San Borja</option>
                        <option value="santaanita">Santa Anita</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FECHAENTREGA">Fecha de Entrega* :</label>
                    <input id="FECHAENTREGA" name="FECHAENTREGA" type="date" class="form-control" placeholder="02-03-2016">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FECHAENVIO">Fecha de Envio* :</label>
                    <input id="FECHAENVIO" name="FECHAENVIO" type="date" class="form-control" placeholder="12-03-2016">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TIPO_PEDIDO">Tipo de Pedido* :</label>
                    <select id="TIPO_PEDIDO" name="TIPO_PEDIDO" class="form-control">
                        <option value="presencial">Presencial</option>
                        <option value="domicilio">Domicilio</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PRIORIDAD_P">Prioridad* :</label>
                    <select id="PRIORIDAD_P" name="PRIORIDAD_P" class="form-control">
                        <option value="1">Muy Alto</option>
                        <option value="2">Alto</option>
                        <option value="3">Normal</option>
                        <option value="4">Bajo</option>
                        <option value="4">Muy Bajo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <br>
            <h2>Lista de Productos</h2>
            <br>
        </div>
        <div class="col-md-5">
            <br>
            <br>
            <button id="addProduc" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div class="row" id="tabla">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="listaPedido" class="table table-striped">
                <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Catalogo</th>
                    <th>Marca</th>
                    <th>Precio S/.</th>
                    <th>Cantidad</th>
                    <th>Garantia</th>
                    <th>Descuento</th>
                    <th>Total S/.</th>
                    <th>Evento</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <h3>Monto Total: <span id="totalPrecio"></span></h3>
        </div>

    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3" style="text-align: center;">
        </div>
        <div class="col-md-3" style="text-align: center;">
            <button id="compraBtn" type="button" class="btn btn-primary ">Comprar <span class="glyphicon glyphicon-floppy-saved"></span> </button>
        </div>
        <div class="col-md-3" style="text-align: center;">
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("ListaProducto", Model.producto)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModalBuscar" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Cliente</h4>
                </div>
                <div class="modal-body">
                    <div id="contenedorCliente">@Html.Partial("ListaCliente", Model.cliente)</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Regresar al Listado", "Index")
</div>

<script type="text/javascript">
    $("#AgregarProducto").click(function () {
        var cuentaChecked = 0;
        $('#listaProducto .Elegirproducto').each(function (index) {
            if (this.checked) {
                var manipular = $(this.closest("tr")).clone();
                $(manipular).append('<td><button type="button" data-origen="' + $(this).attr('id') + '" class="eliminaPedido btn btn-default">Eliminar</button></td>');
                $(manipular).find('.cambiarInput').html('<input class="modificaValor" type="text" />');
                $(manipular).find('.cambiarCalculo').html('0');
                $('#listaPedido tr:last').after(manipular);
                $(this).attr("disabled", true);
                $(this).attr('checked', false);
                cuentaChecked++;
            }
        });

        $('#listaPedido .modificaValor').keyup(function () {
            var cantidad = parseInt(this.value);
            var manipular = this.closest('tr');
            var precio = parseFloat($(manipular).find('.valorPrecio').html());
            var descuento = parseFloat($(manipular).find('.datoGarantia').html());
            var calculo = (cantidad * precio) - ((descuento * precio * cantidad) / 100);
            $(manipular).find('.cambiarCalculo').html(calculo);

            var total = 0;
            $('#listaPedido .cambiarCalculo').each(function (index) {
                if ($(this).html() != "" && $(this).html() != undefined) {
                    total = total + parseFloat($(this).html());
                }
            });
            $('#totalPrecio').html(total);
        });

        $('#listaPedido .eliminaPedido').click(function () {
            var origen = $(this).data("origen");
            var manipular = this.closest('tr');
            $(manipular).remove();
            $('#' + origen).attr("disabled", false);
        })
    });

    $('#compraBtn').click(function () {
        var producto = [];
        var cuentaChecked = 0;
        $('#listaPedido .eliminaPedido').each(function (index) {
            var origen = $(this).data("origen");
            var arrayOrigen = origen.split('-');
            var cantidad = $(this.closest("tr")).find('.modificaValor').val();
            producto.push({
                ID_PEDIDO: 0
                , ID_PRODUCTO: parseInt(arrayOrigen[1])
                , ID_CATALOGO: parseInt(arrayOrigen[2])
                , CANTIDAD: cantidad
            });
            cuentaChecked++;
        });
        if (cuentaChecked > 0) {
            var url = '@Url.Action("Create", "Pedido", new { Area = "Ventas" })';
            var data = {
                ID_CLIENTE: $('#ID_CLIENTE').val()
                , NOMBRE: $('#NOMBRE').val()
                , APELLIDO: $('#APELLIDO').val()
                , EMAIL: $('#EMAIL').val()
                , TELEFONO: $('#TELEFONO').val()
                , DIRECCION: $('#DIRECCION').val()
                , DISTRITO: $('#DISTRITO').val()
                , FECHAENTREGA: $('#FECHAENTREGA').val()
                , FECHAENVIO: $('#FECHAENVIO').val()
                , TIPO_PEDIDO: $('#TIPO_PEDIDO').val()
                , PRIORIDAD_P: $('#PRIORIDAD_P').val()
                , producto: producto
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                success: function (returnPayload) {
                    if (returnPayload.msg == 'ok') {
                        window.location.href = '@Url.Action("Index", "Pedido", new { Area = "Ventas" })';
                    } else {
                        alert("error al guardar productos");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("error al guardar productos");
                },
                dataType: "json",
                contentType: "application/json",
                processData: false,
                async: false
            });
        } else {
            alert("seleccione algun producto");
        }
    })

    $('#btn_buscar').click(function () {
        var url = '@Url.Action("BuscaCliente", "Pedido", new { Area = "Ventas" })';
        var data = { nombre: $('#buscaNombre').val() }
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            success: function (returnPayload) {
                $('#contenedorCliente').html(returnPayload);

                $('.clienteSeleccionar').click(function () {
                    var manipular = this.closest('tr');
                    $('#ID_CLIENTE').val($(manipular).find('.clienteCodigo').html());
                    $('#NOMBRE').val($(manipular).find('.clienteNombre').html());
                    $('#APELLIDO').val($(manipular).find('.clienteApellido').html());
                    $('#EMAIL').val($(manipular).find('.clienteCorreo').html());
                    $('#TELEFONO').val($(manipular).find('.clienteTelefono').html());
                    $('#DIRECCION').val($(manipular).find('.clienteDireccion').html());
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error al cargar usuarios");
            },
            dataType: "html",
            contentType: "application/json",
            processData: false,
            async: false
        });

    })

    //Script para busqueda cliente:
    function clickFilaTablaCliente(id, n) {
        $.ajax({
            cache: false,
            type: 'GET',
            datatype: 'json',
            contentType: 'application/json',
            url: '@Url.Action("ObtenerClienteJson", "MantenerClienteNatural", new { @Area = "Clientes"})',
            data: { "id": id },
            success: function (data) {
                $('#ID_CLIENTE').val(data.ID);
                $('#NOMBRE').val(data.Nombres);
                $('#APELLIDO').val(data.ApePaterno + " " + data.ApeMaterno);

                $('#EMAIL').val('jesus61_1@hotmail.com');
                $('#TELEFONO').val('986993286');

                console.dir(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#ID_CLIENTE').val(id);
                $('#NOMBRE').val(data.Nombres);
                $('#APELLIDO').val(data.ApePaterno + " " + data.ApeMaterno);

                $('#EMAIL').val('jesus61_1@hotmail.com');
                $('#TELEFONO').val('986993286');
                //alert("error al obtener cliente");
            }
        });
        $('#busquedaRapidaCliente').modal('hide');
    }


</script>
