﻿@model IEnumerable<CRM.Entity.PEDIDO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";
}

<h2>Listado de Ventas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            ID_PEDIDO
        </th>
        <th>
            ID_CLIENTE
        </th>
        <th>
            ID_EMPLEADO
        </th>
        <th>
            TIPO DE PEDIDO
        </th>
        <th>
            FECHA DE PEDIDO
        </th>
        <th>
            FECHA DE ENTREGA
        </th>
        <th>
            FECHA DE ENVIO
        </th>
        <th>
            PRIORIDAD
        </th>
        <th>
            DIRECCION
        </th>
        <th>
            DISTRITO
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PEDIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PEDIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAPEDIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAENTREGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAENVIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIORIDAD_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISTRITO)
        </td>
    </tr>
}

</table>
