﻿@model IEnumerable<CRM.Areas.Ventas.Models.ClienteModel>

<div class="row">
    <div class="col-md-10">
        <h2>SELECCIONAR CLIENTE</h2>

        <table id="listaProducto" class="table table-striped">
            <tr>
            <tr>
                <th>
                    ID_CLIENTE
                </th>
                <th>
                    NOMBRE
                </th>
                <th>
                    APELLIDO
                </th>
                <th>
                    DIRECCION
                </th>
                <th>
                    CORREO
                </th>
                <th>
                    TELEFONO
                </th>
                <th>
                    Seleccionar Producto
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="clienteCodigo">
                        @Html.DisplayFor(modelItem => item.ID_CLIENTE)
                    </td>
                    <td class="clienteNombre">
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td class="clienteApellido">
                        @Html.DisplayFor(modelItem => item.APELLIDO)
                    </td>
                    <td class="clienteDireccion">
                        @Html.DisplayFor(modelItem => item.DIRECCION)
                    </td>
                    <td class="clienteCorreo">
                        @Html.DisplayFor(modelItem => item.CORREO)
                    </td>
                    <td class="clienteTelefono">
                        @Html.DisplayFor(modelItem => item.TELEFONO)
                    </td>
                    <td>
                        <div id="clienteSeleccionar-@item.ID_CLIENTE" class="clienteSeleccionar btn btn-primary btn-lg">Agregar</div>                     
                    </td>
                </tr>
            }

        </table>
    </div>
</div>