﻿@model IEnumerable<CRM.Areas.Ventas.Models.ProductoModel>

<div class="row">
    <div class="col-md-10">
        <h2>SELECCIONAR PRODUCTOS</h2>

        <table id="listaProducto" class="table table-striped">
            <tr>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Catalogo
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Garantia 
                </th>
                <th>
                    Descuento
                </th>
                <th>
                    Seleccionar Producto
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.catalogo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td class="valorPrecio">
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td class="cambiarInput">
                        @Html.DisplayFor(modelItem => item.stock)                 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.garantia)  
                    </td>
                    <td class="datoGarantia">
                        @Html.DisplayFor(modelItem => item.descuento)
                    </td>
                    <td class="cambiarCalculo">
                        <input type="checkbox" class="Elegirproducto" id="ElegirProducto-@item.idproducto-@item.idCatalogo" value="">
                    </td>
                </tr>
            }

        </table>
        <div id="AgregarProducto" class="btn btn-primary btn-lg">Agregar</div>
    </div>
</div>

