﻿@model CRM.Areas.Ventas.Models.ClienteProductoModel

@{
    ViewBag.Title = "Proforma";
    Layout = "~/Areas/Ventas/Views/MasterVentas.cshtml";

}


<div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div id="h1Titulo" class="col-md-5">
            <h1 style="color:#334175;"><strong>Cotizacion</strong></h1>
        </div>
    </div>
    <div class="row"><br></div>
    <div class=" row hide" id="alert_noenc">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div class="alert alert-danger"> Error ! Persona no registrada!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="nombre">Nombre del Cliente* :</label>
                <input type="text" class="form-control" placeholder="Ingrese Nombre" id="buscaNombre">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="nombre">&nbsp; &nbsp;</label>
                </br>
                <button type="button" class="btn btn-success" id="btn_buscar" data-toggle="modal" data-target="#myModalBuscar">
                    Buscar <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>

    <input type="hidden" id="ID_CLIENTE" name="ID_CLIENTE" value="" />
    <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NOMBRE">Nombres* :</label>
                    <input ID="NOMBRE" name="NOMBRE" type="text" class="form-control" placeholder="Miguel Angel" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="APELLIDO">Apellidos* :</label>
                    <input ID="APELLIDO" name="APELLIDO" type="text" class="form-control" placeholder="Leyva Guadalupe" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EMAIL">Corre Electronico* :</label>
                    <input id="EMAIL" name="EMAIL" type="text" class="form-control" placeholder="leyvaguadalupemiguel@gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TELEFONO">Telefono* :</label>
                    <input id="TELEFONO" name="TELEFONO" type="text" class="form-control" placeholder="994476386">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <br>
            <h2>Lista de Productos</h2>
            <br>
        </div>
        <div class="col-md-5">
            <br>
            <br>
            <button id="addProduc" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div class="row" id="tabla">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="listaPedido" class="table table-striped">
                <tr>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Catalogo</th>
                    <th>Marca</th>
                    <th>Precio S/.</th>
                    <th>Cantidad</th>
                    <th>Garantia</th>
                    <th>Descuento</th>
                    <th>Total S/.</th>
                    <th>Evento</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <h3 id="montoTotal">Monto Total: <span id="totalPrecio"></span></h3>
        </div>

    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3" style="text-align: center;">
        </div>
        <div class="col-md-3" style="text-align: center;">
            <button id="btnEnviar" type="button" class="btn btn-primary ">Enviar <span class="glyphicon glyphicon-envelope"></span> </button>
        </div>
        <div class="col-md-3" style="text-align: center;">
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row"><br></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Producto</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("ListaProducto", Model.producto)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModalBuscar" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Cliente</h4>
                </div>
                <div class="modal-body">
                    <div id="contenedorCliente">@Html.Partial("ListaCliente", Model.cliente)</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Regresar al Listado", "Index")
</div>

<script type="text/javascript">
    $("#AgregarProducto").click(function () {
        var cuentaChecked = 0;
        $('#listaProducto .Elegirproducto').each(function (index) {
            if (this.checked) {
                var manipular = $(this.closest("tr")).clone();
                $(manipular).append('<td><button type="button" data-origen="' + $(this).attr('id') + '" class="eliminaPedido btn btn-default">Eliminar</button></td>');
                $(manipular).find('.cambiarInput').html('<input class="modificaValor" type="text" />');
                $(manipular).find('.cambiarCalculo').html('0');
                $('#listaPedido tr:last').after(manipular);
                $(this).attr("disabled", true);
                $(this).attr('checked', false);
                cuentaChecked++;
            }
        });

        $('#listaPedido .modificaValor').keyup(function () {
            var cantidad = parseInt(this.value);
            var manipular = this.closest('tr');
            var precio = parseFloat($(manipular).find('.valorPrecio').html());
            var descuento = parseFloat($(manipular).find('.datoGarantia').html());
            var calculo = (cantidad * precio) - ((descuento * precio * cantidad) / 100);
            $(manipular).find('.cambiarCalculo').html(calculo);

            var total = 0;
            $('#listaPedido .cambiarCalculo').each(function (index) {
                if ($(this).html() != "" && $(this).html() != undefined) {
                    total = total + parseFloat($(this).html());
                }
            });
            $('#totalPrecio').html(total);
        });

        $('#listaPedido .eliminaPedido').click(function () {
            var origen = $(this).data("origen");
            var manipular = this.closest('tr');
            $(manipular).remove();
            $('#' + origen).attr("disabled", false);
        })
    });

    $('#btnEnviar').click(function () {
        var producto = [];
        var cuentaChecked = 0;
        $('#listaPedido .eliminaPedido').each(function (index) {
            var cantidad = $(this.closest("tr")).find('.modificaValor').val();
            $(this.closest("tr")).find('.cambiarInput').html(cantidad);
            $(this).parent().html('');
            cuentaChecked++;
        });
        if (cuentaChecked > 0) {
            var personal = '<h1>'+ $('#h1Titulo').html()+'</h1><h3>NOMBRE: '+$('#NOMBRE').val()+'</h3><h3>APELLIDO: '+$('#APELLIDO').val()+'</h3><h3>EMAIL: '+$('#EMAIL').val()+'</h3><h3>TELEFONO: '+$('#TELEFONO').val()+'</h3>';
            var producto = personal+'<br/><table>'+$('#listaPedido').html()+'</table><h3>'+$('#montoTotal').html()+'</h3>';

            var url = '@Url.Action("Correo", "Pedido", new { Area = "Ventas" })';
            var data = {
                html: producto
                , mail:$('#EMAIL').val()
            };
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                success: function (returnPayload) {
                    if (returnPayload.msg == 'ok') {
                        alert("correo enviado con exito");
                    } else {
                        alert("error al Enviar el correo");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("error al Enviar el correo");
                },
                dataType: "json",
                contentType: "application/json",
                processData: false,
                async: false
            });
        } else {
            alert("seleccione algun producto");
        }

    })

    $('#btn_buscar').click(function () {
        var url = '@Url.Action("BuscaCliente", "Pedido", new { Area = "Ventas" })';
        var data = { nombre: $('#buscaNombre').val()}
        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            success: function (returnPayload) {
                $('#contenedorCliente').html(returnPayload);

                $('.clienteSeleccionar').click(function () {
                    var manipular = this.closest('tr');
                    $('#ID_CLIENTE').val($(manipular).find('.clienteCodigo').html());
                    $('#NOMBRE').val($(manipular).find('.clienteNombre').html());
                    $('#APELLIDO').val($(manipular).find('.clienteApellido').html());
                    $('#EMAIL').val($(manipular).find('.clienteCorreo').html());
                    $('#TELEFONO').val($(manipular).find('.clienteTelefono').html());
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error al cargar usuarios");
            },
            dataType: "html",
            contentType: "application/json",
            processData: false,
            async: false
        });

    })
</script>
