﻿@model CRM.Entity.PROVEEDOR

@{
    ViewBag.Title = "Proveedor-Delete";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PROVEEDOR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.USUARIO_ATENCION_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.USUARIO_ATENCION_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRECCION_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRECCION_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMAIL_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TELEFONO_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TELEFONO_PROVEEDOR)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
