﻿@model CRM.Entity.PROVEEDOR

@{
    ViewBag.Title = "Proveedor-Details";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Detalle Proveedor</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos del Proveedor</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.ID_PROVEEDOR, "ID PROVEEDOR", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "ID del Proveedor", type = "number", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_PROVEEDOR, "NOMBRE", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.USUARIO_ATENCION_PROVEEDOR, "CONTACTO CON EL PROVEEDOR", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.USUARIO_ATENCION_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Contacto Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.DIRECCION_PROVEEDOR, "DIRECCION", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBoxFor(model => model.DIRECCION_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Direccion del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.EMAIL_PROVEEDOR, "CORREO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        @Html.TextBoxFor(model => model.EMAIL_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Email del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            @*<div class="editor-label">
                                    @Html.LabelFor(model => model.EMAIL_PROVEEDOR)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EMAIL_PROVEEDOR)
                                    @Html.ValidationMessageFor(model => model.EMAIL_PROVEEDOR)
                                </div>*@

                            <div class="row">
                                @Html.LabelFor(model => model.TELEFONO_PROVEEDOR, "TELEFONO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        @Html.TextBoxFor(model => model.TELEFONO_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Telefono del Proveedor", type = "number", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Editar", "Edit", new {  id=Model.ID_PROVEEDOR  }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@*<h2>Details</h2>

<fieldset>
    <legend>PROVEEDOR</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.USUARIO_ATENCION_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.USUARIO_ATENCION_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRECCION_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRECCION_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMAIL_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMAIL_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TELEFONO_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TELEFONO_PROVEEDOR)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
