﻿@model CRM.Entity.PROVEEDOR

@{
    ViewBag.Title = "Proveedor-Edit";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Editar Proveedor</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos del Proveedor</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">

                            <div class="row">
                                    @Html.LabelFor(model => model.ID_PROVEEDOR, "ID PROVEEDOR", new { @class = "col-md-3 control-label" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.ID_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "ID del Proveedor", type="number",title = "Campo no editable", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                    <div class="col-md-5 text-danger">
                                        <strong>@Html.ValidationMessageFor(model => model.ID_PROVEEDOR)</strong>
                                    </div>
                            </div>
                            <br/>

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_PROVEEDOR, "NOMBRE", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_PROVEEDOR, new { @class = "form-control", placeholder = "Nombre del Proveedor", title = "Campo no editable", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.NOMBRE_PROVEEDOR)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.USUARIO_ATENCION_PROVEEDOR, "CONTACTO CON EL PROVEEDOR", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.USUARIO_ATENCION_PROVEEDOR, new { @class = "form-control", placeholder = "Contacto Proveedor", title = "Ingrese aquí el nombre del Contacto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.USUARIO_ATENCION_PROVEEDOR)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.DIRECCION_PROVEEDOR, "DIRECCION", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBoxFor(model => model.DIRECCION_PROVEEDOR, new { @class = "form-control", placeholder = "Direccion del Proveedor", title = "Ingrese aquí la Direccion del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.DIRECCION_PROVEEDOR)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.EMAIL_PROVEEDOR, "CORREO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        @Html.TextBoxFor(model => model.EMAIL_PROVEEDOR, new { @class = "form-control", placeholder = "Email del Proveedor", title = "Ingrese el email del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.EMAIL_PROVEEDOR)</strong>
                                </div>
                            </div>
                            <br />

                            @*<div class="editor-label">
                                    @Html.LabelFor(model => model.EMAIL_PROVEEDOR)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EMAIL_PROVEEDOR)
                                    @Html.ValidationMessageFor(model => model.EMAIL_PROVEEDOR)
                                </div>*@

                            <div class="row">
                                @Html.LabelFor(model => model.TELEFONO_PROVEEDOR, "TELEFONO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        @Html.TextBoxFor(model => model.TELEFONO_PROVEEDOR, new { @class = "form-control", placeholder = "Telefono del Proveedor", type = "number", title = "Ingrese el telefono del Proveedor", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                                <div class="col-md-5 text-danger">
                                    @Html.ValidationMessageFor(model => model.TELEFONO_PROVEEDOR)
                                </div>
                            </div>
                            <br />

                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="Guardar" />
                                </p>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver a la tabla Proveedores", "Index")
    </div>
</div>