﻿@model IEnumerable<CRM.Entity.PROVEEDOR>

@{
    ViewBag.Title = "Proveedor-Index";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>*@
            <h4 class="modal-title"><strong>Categorias</strong></h4>
        </div>

        <div class="modal-body">
            <div class="container fluid col-md-12">


                <div class="row">
                    <div>
                        
                            @Html.ActionLink("Crear Nuevo", "Create")
                        
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-condensed table-striped" @*id="tablaBusquedaCliente"*@>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NOMBRE_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.USUARIO_ATENCION_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DIRECCION_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EMAIL_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TELEFONO_PROVEEDOR)
                                    </th>
                                    <th>
                                        @Html.DisplayName("OPERACIONES")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NOMBRE_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.USUARIO_ATENCION_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DIRECCION_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EMAIL_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TELEFONO_PROVEEDOR)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_PROVEEDOR }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID_PROVEEDOR }) @*|
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID_PROVEEDOR })*@
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>

                    </div>
                        </div>
                    </div>
                </div>
        <div class="modal-footer">
            @*<center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>*@
        </div>
            </div>
</div>