﻿@{
    ViewBag.Title = "Principal Call Center";
    Layout = "~/Areas/CallCenter/Views/MasterCallCenter.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Call Center</h2>
        </div>
    </div>
</div>