﻿@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Master.cshtml";
}

<br />
<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <br />
        <br />
        <h1>Bienvenido</h1>
        <br />
        <p>Página Principal CRM</p>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<br />
