﻿@{
    ViewBag.Title = "Producto-Carga Masiva";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}
<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Carga Masiva de Productos</h2>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("CargaMasiva", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Subida de Productos desde un archivo excel</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4 class="text-center text-info">
                                        <input type="file" name="file" />
                                    </h4>
                                </div>
                            </div>
                            
                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="OK" />
                                </p>
                            </h2>
                                

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
