﻿@model CRM.Entity.PRODUCTO

@{
    ViewBag.Title = "Producto-Create";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}
<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nuevo producto</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos del Producto</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            @*<fieldset>
                                <legend>PRODUCTO</legend>*@

                            @*<div class="row">
                                    @Html.LabelFor(model => model.ID_PRODUCTO, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(model => model.ID_PRODUCTO, new { @class = "form-control", placeholder = "ID del producto", title = "Ingrese aquí el ID del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                    <div class="col-md-5 text-danger">
                                        <strong>@Html.ValidationMessageFor(model => model.ID_PRODUCTO)</strong></div>
                                </div>
                                <br />*@

                            @*<div class="editor-label">
                                    @Html.LabelFor(model => model.CODIGO_PRODUCTO)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.CODIGO_PRODUCTO)
                                    @Html.ValidationMessageFor(model => model.CODIGO_PRODUCTO)
                                </div>*@

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_PRODUCTO,"NOMBRE DEL PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_PRODUCTO, new { @class = "form-control", placeholder = "Nombre del producto", title = "Ingrese aquí el nombre del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.NOMBRE_PRODUCTO)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.MODELO_PRODUCTO, "MODELO",new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.MODELO_PRODUCTO, new { @class = "form-control", placeholder = "Modelo del producto", title = "Ingrese aquí el modelo del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.MODELO_PRODUCTO)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_CATEGORIA, "CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DropDownList("ID_CATEGORIA", String.Empty)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_CATEGORIA)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA1, "SUBCATEGORIA1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DropDownList("ID_SUBCATEGORIA1", String.Empty)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_SUBCATEGORIA1)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA2, "SUBCATEGORIA2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DropDownList("ID_SUBCATEGORIA2", String.Empty)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ID_SUBCATEGORIA2)</strong>
                                </div>
                            </div>
                            <br />


                            <div class="row">
                                @Html.LabelFor(model => model.MARCA, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.MARCA, new { @class = "form-control", placeholder = "Marca del Producto", title = "Ingrese aquí la marca del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.MARCA)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.FECHA_PRODUCCION, "FECHA DE PRODUCCION",new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FECHA_PRODUCCION, new { @class = "form-control", placeholder = "dd/mm/aaaa", title = "Ingrese aquí la fecha de produccion del producto en el formato indicado", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.FECHA_PRODUCCION)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.PRECIO_PRODUCTO, "PRECIO (xUnid.)",new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.PRECIO_PRODUCTO, new { @class = "form-control", placeholder = "precio", title = "Ingrese aquí el precio del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.PRECIO_PRODUCTO)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.GARANTIA,"GARANTIA (meses)", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.GARANTIA, new { @class = "form-control", placeholder = "Meses de Garantia", type = "number", title = "Ingrese aquí la cantidad de meses de garantia del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong> @Html.ValidationMessageFor(model => model.GARANTIA)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.STOCK, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.STOCK, new { @class = "form-control", placeholder = "Cantidad en Stock", type = "number", title = "Ingrese aquí el stock del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.STOCK)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.STOCK_MINIMO,"STOCK MINIMO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.STOCK_MINIMO, new { @class = "form-control", placeholder = "Stock Minimo", type = "number", title = "Ingrese aquí el stock minimo del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.STOCK_MINIMO)</strong>
                                </div>
                            </div>
                            <br />


                            <div class="row">
                                @Html.LabelFor(model => model.ID_PROVEEDOR, "PROVEEDOR", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DropDownList("ID_PROVEEDOR", String.Empty)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong> @Html.ValidationMessageFor(model => model.ID_PROVEEDOR)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.OFERTA, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.OFERTA)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.OFERTA)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.DIRECCION, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBoxFor(model => model.DIRECCION, new { @class = "form-control", placeholder = "Direccion de local", title = "Ingrese aquí la ubicacion del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.DIRECCION)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.FECHA_INGRESO, "FECHA DE INGRESO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FECHA_INGRESO, new { @class = "form-control", placeholder = "dd/mm/aaaa", title = "Ingrese aquí la fecha de ingreso del producto al sistema en el formato indicado", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.FECHA_INGRESO)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ESTADO_PRODUCTO, "ESTADO DEL PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.ESTADO_PRODUCTO)
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ESTADO_PRODUCTO)</strong>
                                </div>
                            </div>
                            <br />

                            <h2 class="text-center text-info">
                                <p>
                                    <input type="submit" class="btn btn-success" value="Crear" />
                                </p>
                            </h2>
                            @*</fieldset>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

        <div class="center-block">
            <div class="col-md-5">
                @Html.ActionLink("Volver a la Tabla Productos", "Index")
            </div>
        </div>
        <br/>
</div>
