﻿@model CRM.Entity.PRODUCTO

@{
    ViewBag.Title = "Producto-Delete";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PRODUCTO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODELO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODELO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MARCA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MARCA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHA_PRODUCCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHA_PRODUCCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRECIO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRECIO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GARANTIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GARANTIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOCK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOCK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOCK_MINIMO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOCK_MINIMO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFERTA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFERTA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRECCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRECCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHA_INGRESO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHA_INGRESO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTADO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTADO_PRODUCTO)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
