﻿@model CRM.Entity.PRODUCTO

@{
    ViewBag.Title = "Producto-Details";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Editar Producto</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                    <h4 class="panel-title accordion-toggle">Datos del Producto</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            @*<fieldset>
                                <legend>PRODUCTO</legend>*@

                            <div class="row">
                                @Html.LabelFor(model => model.ID_PRODUCTO, "ID PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_PRODUCTO, new { @readonly = "readonly", @class = "form-control", placeholder = "ID del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.CODIGO_PRODUCTO, "CODIGO PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.CODIGO_PRODUCTO, new { @readonly = "readonly", @class = "form-control", placeholder = "ID del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.NOMBRE_PRODUCTO, "NOMBRE DEL PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.NOMBRE_PRODUCTO, new { @readonly = "readonly", @class = "form-control", placeholder = "Nombre del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.MODELO_PRODUCTO, "MODELO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.MODELO_PRODUCTO, new { @readonly = "readonly",@class = "form-control", placeholder = "Modelo del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_CATEGORIA, "CATEGORIA", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_CATEGORIA, new { @readonly = "readonly",@class = "form-control", placeholder = "Modelo del producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })                                    
                                </div>                                
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA1, "SUBCATEGORIA1", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "Modelo del producto",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })                                    
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ID_SUBCATEGORIA2, "SUBCATEGORIA2", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_SUBCATEGORIA1, new { @readonly = "readonly", @class = "form-control", placeholder = "Modelo del producto",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })                                    
                                </div>
                            </div>
                            <br />


                            <div class="row">
                                @Html.LabelFor(model => model.MARCA, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.MARCA, new { @readonly = "readonly", @class = "form-control", placeholder = "Marca del Producto", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.FECHA_PRODUCCION, "FECHA DE PRODUCCION", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FECHA_PRODUCCION, new { @readonly = "readonly", @class = "form-control", placeholder = "dd/mm/aaaa", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.PRECIO_PRODUCTO, "PRECIO (xUnid.)", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.PRECIO_PRODUCTO, new { @readonly = "readonly", @class = "form-control", placeholder = "precio", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.GARANTIA, "GARANTIA (meses)", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.GARANTIA, new { @readonly = "readonly", @class = "form-control", placeholder = "Meses de Garantia", type = "number",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.STOCK, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.STOCK, new { @readonly = "readonly", @class = "form-control", placeholder = "Cantidad en Stock", type = "number", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.STOCK_MINIMO, "STOCK MINIMO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.STOCK_MINIMO, new { @readonly = "readonly", @class = "form-control", placeholder = "Stock Minimo", type = "number", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />


                            <div class="row">
                                @Html.LabelFor(model => model.ID_PROVEEDOR, "PROVEEDOR", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.ID_PROVEEDOR, new { @readonly = "readonly", @class = "form-control", placeholder = "Stock Minimo", type = "number",  data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    @*@Html.DropDownList("ID_PROVEEDOR", String.Empty)*@
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.OFERTA, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DisplayFor(model => model.OFERTA)
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.DIRECCION, new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBoxFor(model => model.DIRECCION, new { @readonly = "readonly", @class = "form-control", placeholder = "Direccion de local", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.FECHA_INGRESO, "FECHA DE INGRESO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.TextBoxFor(model => model.FECHA_INGRESO, new { @readonly = "readonly", @class = "form-control", placeholder = "dd/mm/aaaa", data_toggle = "tooltip", data_placement = "right", data_container = "body" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ESTADO_PRODUCTO, "ESTADO DEL PRODUCTO", new { @class = "col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.DisplayFor(model => model.ESTADO_PRODUCTO)
                                </div>
                            </div>
                            <br />
                            @*</fieldset>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="center-block">
        <div class="col-md-5">
            <p>
                @Html.ActionLink("Editar", "Edit", new { id=Model.ID_PRODUCTO}) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
    <br />
</div>


@*<h2>Details</h2>

<fieldset>
    <legend>PRODUCTO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CODIGO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CODIGO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODELO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODELO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MARCA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MARCA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHA_PRODUCCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHA_PRODUCCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRECIO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRECIO_PRODUCTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GARANTIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GARANTIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOCK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOCK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOCK_MINIMO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOCK_MINIMO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OFERTA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OFERTA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIRECCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIRECCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FECHA_INGRESO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FECHA_INGRESO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTADO_PRODUCTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTADO_PRODUCTO)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
