﻿@model IEnumerable<CRM.Entity.PRODUCTO>

@{
    ViewBag.Title = "Producto-Index";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

@*<div class="col-lg-12">
    <h1 class="page-header">Productos</h1>
</div>

<div class="col-lg-12">
    <a>
        @Html.ActionLink("Create New", "Create")
    </a>
   
</div>*@
@*<div class="container">
    <div class="modal fade" id="busquedaRapidaCliente" role="dialog">*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>*@
                    <h4 class="modal-title"><strong>Productos</strong></h4>
                </div>

                <div class="modal-body">
                    <div class="container fluid col-md-12">
                        <div class="row">
                            <form method="get">
                                <div class="col-md-3">
                                    <label class="control-label">Nombre de Producto a buscar: </label>
                                </div>
                                <div class="col-md-5">
                                    <input type="search" name="busc" id="busc" class="form-control" autofocus>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" class="btn btn-success" value="Buscar!">
                                </div>
                            </form>
                        </div>
                        <br />

                        @*<div class="row" id="mensajeBusquedaCliente">
                        </div>*@

                        <div class="row">
                            <div>
                                <a>
                                    @Html.ActionLink("Crear Nuevo", "Create") | @Html.ActionLink("Carga Masiva", "CargaMasiva")  
                                </a>
                                <br/>
                                <a href="@Url.Action("Export", "Producto")">Exportar Data</a>
                                
                                <div class="table-responsive">
                                    <table @*class="table table-hover table-bordered table-condensed table-striped"*@ @*id="tablaBusquedaCliente"*@>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ID_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CODIGO_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MODELO_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CATEGORIA.NOMBRE_CATEGORIA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SUBCATEGORIA1.NOMBRE_SUBCATEGORIA1)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SUBCATEGORIA2.NOMBRE_SUBCATEGORIA2)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MARCA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FECHA_PRODUCCION)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PRECIO_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.GARANTIA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.STOCK)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.STOCK_MINIMO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OFERTA)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DIRECCION)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FECHA_INGRESO)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ESTADO_PRODUCTO)
                                            </th>
                                            <th>
                                                @Html.DisplayName("OPERACIONES")
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CODIGO_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NOMBRE_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MODELO_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CATEGORIA.NOMBRE_CATEGORIA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SUBCATEGORIA1.NOMBRE_SUBCATEGORIA1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SUBCATEGORIA2.NOMBRE_SUBCATEGORIA2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MARCA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FECHA_PRODUCCION)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PRECIO_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GARANTIA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.STOCK)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.STOCK_MINIMO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PROVEEDOR.NOMBRE_PROVEEDOR)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OFERTA)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DIRECCION)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ESTADO_PRODUCTO)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_PRODUCTO }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID_PRODUCTO }) @*|
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_PRODUCTO })*@
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    @*<center><button type="button" class="btn btn-primary" data-dismiss="modal">  Cancelar  </button></center>*@
                </div>
            </div>
        </div>
}


    @*</div>
</div>*@

@*<div class="panel panel-default">
    <div class="panel-heading">
        Tabla de Productos
    </div>
    <div class="panel-body">
        <div class="table-responsive search-table inner">
            <div style="overflow-x:auto;">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID_PRODUCTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CODIGO_PRODUCTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MODELO_PRODUCTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CATEGORIA.CODIGO_CATEGORIA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MARCA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FECHA_PRODUCCION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PRECIO_PRODUCTO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GARANTIA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STOCK)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.STOCK_MINIMO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE_PROVEEDOR)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OFERTA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DIRECCION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ESTADO_PRODUCTO)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_PRODUCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CODIGO_PRODUCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_PRODUCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MODELO_PRODUCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CATEGORIA.CODIGO_CATEGORIA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUBCATEGORIA1.CODIGO_SUBCATEGORIA1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUBCATEGORIA2.CODIGO_SUBCATEGORIA2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MARCA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHA_PRODUCCION)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PRECIO_PRODUCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GARANTIA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STOCK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STOCK_MINIMO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PROVEEDOR.NOMBRE_PROVEEDOR)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OFERTA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIRECCION)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ESTADO_PRODUCTO)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>*@

