﻿@{
    ViewBag.Title = "Post-Descarga";
    Layout = "~/Areas/Productos/Views/MasterProductos.cshtml";
}

<div class="container" id="shadow">
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nueva Categoria</h2>
        </div>
    </div>
    <br />
    <div class="panel-group" id="accordion">

        <!-- Collapse Datos Personales -->
        <div class="panel panel-info">
            <div class="panel-heading" @*data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos"*@>
                <h4 class="panel-title accordion-toggle">Informacion de la Descarga</h4>
            </div>
            <div id="collapseDatos" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                         <h2 class="text-center text-info">
                            @Html.Label("Documento Excel Descargado")
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Regresar a la tabla Productos", "Index")
</div>