﻿@{
    ViewBag.Title = "Principal Marketing";
    Layout = "~/Areas/Marketing/Views/MasterMarketing.cshtml";
}


<div class="container" id="shadow">
    <br />
    <div class="jumbotron">
        <div class="container">
            <h2>Inicio Módulo de Marketing</h2>
        </div>
    </div>
</div>