﻿@model CRM.Areas.Clientes.Models.EmpleadoModel

@{
    ViewBag.Title = "Nuevo Empleado";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">

    <!--Inicio ventana modal busqueda rapida cliente-->
    @{
        Html.RenderPartial("BusquedaRapidaCliente");
    }
    <!--Fin ventana modal busqueda rapida cliente-->

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Agregar Nuevo Empleado</h2>
        </div>
    </div>
    <br />

    @using (Html.BeginForm("CrearEmpleado", "MantenerEmpleado", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdTienda)
        @*@Html.ValidationSummary()*@

        <!-- Acordeón -->
        <div class="panel-group" id="accordion">

            <!-- Collapse Datos Personales -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos">
                    <h4 class="panel-title accordion-toggle">Datos Personales del Empleado</h4>
                </div>
                <div id="collapseDatos" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                @Html.LabelFor(model => model.Nombres, new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", placeholder = "Nombres del empleado" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Nombres)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ApePaterno, new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ApePaterno, new { @class = "form-control", placeholder = "Apellido paterno del empleado" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ApePaterno)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.ApeMaterno, new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ApeMaterno, new { @class = "form-control", placeholder = "Apellido materno del empleado" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.ApeMaterno)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.DNI, new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", placeholder = "DNI del empleado", type = "number" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.DNI)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.Label("Género *", new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.Genero, Model.ListaComboGenero, "-- Seleccione Género --", new { @class = "form-control" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Genero)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.LabelFor(model => model.Nacimiento, new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.Nacimiento)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.Label("Estado Civil *", new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.EstadoCivil, Model.ListaComboEstadoCivil, "-- Seleccione Estado Civil --", new { @class = "form-control" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.EstadoCivil)</strong>
                                </div>
                            </div>
                            <br />

                        </div>

                    </div>
                </div>
            </div>

            <!-- Collapse Info Empleado -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseInfoEmp">
                    <h4 class="panel-title accordion-toggle">Datos de Tipo y Area</h4>
                </div>
                <div id="collapseInfoEmp" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                @Html.Label("Tipo de Empleado *", new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.TipoEmpleado, Model.ListaComboTipoEmpleado, "-- Seleccione Tipo --", new { @class = "form-control" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.TipoEmpleado)</strong>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                @Html.Label("Área de Empleado *", new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.AreaEmpleado, Model.ListaComboAreaEmpleado, "-- Seleccione Área --", new { @class = "form-control" })
                                </div>
                                <div class="col-md-5 text-danger">
                                    <strong>@Html.ValidationMessageFor(model => model.AreaEmpleado)</strong>
                                </div>
                            </div>
                            <br />

                        </div>

                    </div>
                </div>
            </div>

            <!-- Collapse Relaciones con clientes -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseRelaciones">
                    <h4 class="panel-title accordion-toggle">Relaciones</h4>
                </div>
                <div id="collapseRelaciones" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-1">
                                    <input type="hidden" value="-1" id="idguardado">
                                </div>
                                <div class="col-md-1">
                                    @Html.Label("Cliente:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        @Html.TextBox("txtNombreRelacion", null, new { @class = "form-control", @readonly = "readonly", style = "width:80%", placeholder = "Cliente Relacionado" })
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#busquedaRapidaCliente" title="Buscar un cliente a relacionar"><span class="glyphicon glyphicon-search"></span> </button>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    @Html.Label(" Relación:", new { @class = "control-label" })
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(model => model.ComboSeleccionRelacion, Model.ListaComboRelacionCliente, new { @class = "form-control" })
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success" onclick="agregarFilaRelacion()"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-danger">
                                    <p id="validaRelacion"></p>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaRelaciones">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Relación</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaRelaciones)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.IDRelacionado)</td>
                                                    <td>@Html.DisplayFor(m => item.NombreRelacionado)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.IDRelacion)">@Html.DisplayFor(m => item.NombreRelacion)</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs" onclick="eliminarFilaRelacion(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Collapse Teléfonos -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTelefonos">
                    <h4 class="panel-title accordion-toggle">Teléfonos</h4>
                </div>
                <div id="collapseTelefonos" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                @Html.Label("Teléfono:", new { @class = "col-md-2 control-label" })
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        @Html.TextBox("txtTelefono", null, new { @class = "form-control", placeholder = "Teléfono", type = "number" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(model => model.ComboSeleccionTelefono, Model.ListaComboTelefono, new { @class = "form-control" })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success" onclick="agregarFilaTelefono()"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3 text-danger">
                                    <p id="validaTelefono"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaTelefonos">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Tipo Teléfono</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaTelefonos)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.Numero)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.IDTipoTelefono)">@Html.DisplayFor(m => item.TipoTelefono)</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs" onclick="eliminarFilaTelefono(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Collapse Correos -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseCorreos">
                    <h4 class="panel-title accordion-toggle">Correos</h4>
                </div>
                <div id="collapseCorreos" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                @Html.Label("Correo:", new { @class = "col-md-2 control-label" })
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        @Html.TextBox("txtCorreo", null, new { @class = "form-control", placeholder = "Email" })

                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success" onclick="agregarFilaCorreo()"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>

                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5 text-danger">
                                    <div id="validaCorreo"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaCorreos">
                                        <thead>
                                            <tr>
                                                <th>Correo</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaCorreos)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.Email)</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs" onclick="eliminarFilaCorreo(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Collapse Direcciones -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDirecciones">
                    <h4 class="panel-title accordion-toggle">Direcciones</h4>
                </div>
                <div id="collapseDirecciones" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">

                            <div class="row">
                                @Html.Label("Dirección:", new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBox("txtDireccion", null, new { @class = "form-control", placeholder = "Dirección" })
                                    </div>
                                </div>
                                <div class="col-md-4 text-danger">
                                    <p id="validaDireccion"></p>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(model => model.ComboSeleccionDepartamento, Model.ListaComboDepartamentos, new { @class = "form-control", title = "Seleccione un Departamento", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(model => model.ComboSeleccionProvincia, Model.ListaComboProvincias, new { @class = "form-control", title = "Seleccione una Provincia", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>

                                <div class="col-md-2">
                                    @Html.DropDownListFor(model => model.ComboSeleccionDistrito, Model.ListaComboDistritos, new { @class = "form-control", title = "Seleccione un Distrito", data_toggle = "tooltip", data_placement = "top", data_container = "body" })
                                </div>

                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success" onclick="agregarFilaDireccion();"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover text-center" id="tablaDirecciones">
                                        <thead>
                                            <tr>
                                                <th>Direccion</th>
                                                <th>Departamento</th>
                                                <th>Provincia</th>
                                                <th>Distrito</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaDirecciones)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.NombreDireccion)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Departamento)">@Html.DisplayFor(m => item.Nombre_Departamento)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Provincia)">@Html.DisplayFor(m => item.Nombre_Provincia)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Distrito)">@Html.DisplayFor(m => item.Nombre_Distrito)</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs" onclick="eliminarFilaDireccion(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 text-danger">
                &nbsp;&nbsp; Los campos con asterisco (*) son obligatorios.
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <center>
                        <button type="submit" class="btn btn-primary" onclick="crearJsonDetalles()"><span class="glyphicon glyphicon-floppy-save"></span> Guardar </button>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Inicio", new { @Area = "Clientes"})'"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
                    </center>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

        <div>
            <input type="hidden" value="" id="infoJSON" name="infoJSON" />
        </div>
    }

</div>