﻿@model CRM.Areas.Clientes.Models.EmpleadoModel

@{
    ViewBag.Title = "Detalle de Empleado";
    Layout = "~/Areas/Clientes/Views/MasterClientes.cshtml";
}

<div class="container" id="shadow">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Detalle de Empleado</h2>
        </div>
    </div>
    <br />

    <!-- Acordeón -->
    <div class="panel-group" id="accordion">

        <!-- Collapse Datos Personales -->
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDatos">
                <h4 class="panel-title accordion-toggle">Datos Personales</h4>
            </div>
            <div id="collapseDatos" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <label>Interlocutor ID</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.Nombres, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.ApePaterno, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ApePaterno, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.ApeMaterno, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.ApeMaterno, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.DNI, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.Label("Género", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Genero, Model.ListaComboGenero, "-- Seleccione Género --", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.LabelFor(model => model.Nacimiento, new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Nacimiento, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.Label("Estado Civil", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.EstadoCivil, Model.ListaComboEstadoCivil, "-- Seleccione Estado Civil --", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <br />

                    </div>

                </div>
            </div>
        </div>

        <!-- Collapse Info Empleado -->
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseInfoEmp">
                <h4 class="panel-title accordion-toggle">Información Empleado</h4>
            </div>
            <div id="collapseInfoEmp" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.Label("Tipo de Empleado:", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.TipoEmpleado, Model.ListaComboTipoEmpleado, "-- Seleccione Tipo --", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-1"></div>
                            @Html.Label("Área de Empleado:", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.AreaEmpleado, Model.ListaComboAreaEmpleado, "-- Seleccione Área --", new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>


        @if (Model.ListaRelaciones.Count() != 0)
        {
            <!-- Collapse Relaciones -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseRelaciones">
                    <h4 class="panel-title accordion-toggle">Relaciones</h4>
                </div>
                <div id="collapseRelaciones" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaRelaciones">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Relación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaRelaciones)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.IDRelacionado)</td>
                                                    <td>@Html.DisplayFor(m => item.NombreRelacionado)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.IDRelacion)">@Html.DisplayFor(m => item.NombreRelacion)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.ListaTelefonos.Count() != 0)
        {
            <!-- Collapse Teléfonos -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTelefonos">
                    <h4 class="panel-title accordion-toggle">Teléfonos</h4>
                </div>
                <div id="collapseTelefonos" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaTelefonos">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Tipo Teléfono</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaTelefonos)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.Numero)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.IDTipoTelefono)">@Html.DisplayFor(m => item.TipoTelefono)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.ListaCorreos.Count() != 0)
        {
            <!-- Collapse Correos -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseCorreos">
                    <h4 class="panel-title accordion-toggle">Correos</h4>
                </div>
                <div id="collapseCorreos" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-hover" id="tablaCorreos">
                                        <thead>
                                            <tr>
                                                <th>Correo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaCorreos)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.Email)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @if (Model.ListaDirecciones.Count() != 0)
        {
            <!-- Collapse Direcciones -->
            <div class="panel panel-info">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDirecciones">
                    <h4 class="panel-title accordion-toggle">Direcciones</h4>
                </div>
                <div id="collapseDirecciones" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <table class="table table-hover text-center" id="tablaDirecciones">
                                        <thead>
                                            <tr>
                                                <th>Direccion</th>
                                                <th>Departamento</th>
                                                <th>Provincia</th>
                                                <th>Distrito</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaDirecciones)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.NombreDireccion)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Departamento)">@Html.DisplayFor(m => item.Nombre_Departamento)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Provincia)">@Html.DisplayFor(m => item.Nombre_Provincia)</td>
                                                    <td><input type="hidden" value="@Html.DisplayFor(m => item.ID_Distrito)">@Html.DisplayFor(m => item.Nombre_Distrito)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <br />

    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <center>
                    <a title="Editar empleado" class="btn btn-success" href="@Url.Action("EditarEmpleado", "MantenerEmpleado", new { @area="Clientes", id = @Model.ID })"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                </center>
            </div>
            <div class="col-md-3">
                <center>
                    <button type="button" class="btn btn-default" onclick="history.back()"><span class="glyphicon glyphicon-triangle-left"></span> Atrás </button>
                </center>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <br />
</div>
